py2neo is one of the principal libraries for working with Neo4j from Python. It wraps Neo4j’s HTTP and Bolt protocols and provides a clean and simple interface to execute Cypher queries, handle transactions, and manage the database.

Step 1: Import Necessary Libraries
importing the necessary Python libraries. Here, we'll use pandas for data manipulation and py2neo for interacting with the Neo4j database.

In [7]:
# Import necessary libraries
import pandas as pd
from py2neo import Graph
from py2neo import Graph, Node, Relationship

Step 2: Connect to Neo4j
Set up a connection to your Neo4j database:

In [8]:
from py2neo import Graph

# Replace 'your_new_password' with the password you just set
graph = Graph("bolt://localhost:7687", auth=("neo4j", "12345678"))

# Test the connection
print(graph.run("RETURN 'Connection Successful!' AS message").data())

[{'message': 'Connection Successful!'}]

Step 3: Load and Analyze CSV Data

Importing pandas: First, we import the pandas library, which is essential for data manipulation in Python.
    Setting the file path: We store the path to your CSV file in a variable called file_path. Since the CSV file is in the same directory as your Jupyter notebook, you only need to specify the filename.
    Reading the CSV file: We use pd.read_csv() to read the CSV file into a DataFrame. This function converts the structured CSV file into a pandas DataFrame, which allows for more complex data manipulations.
    Printing the data: df.head() prints the first few rows of the DataFrame, giving you a snapshot of the data structure. df.info() provides a concise summary of the DataFrame, showing types of columns, non-null values, and memory usage.

In [5]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2016_-_Cities_Emissions_Reduction_Targets_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure
print("Initial Data:")
print(df.head())
print(df.info())

# 1. Handling Missing Values
# Check for missing values in each column
print("\nMissing Values Before Cleaning:")
print(df.isna().sum())

# Fill numeric columns with median values
df['Baseline emissions (metric tonnes CO2e)'] = df['Baseline emissions (metric tonnes CO2e)'].fillna(df['Baseline emissions (metric tonnes CO2e)'].median())
df['Percentage reduction target'] = df['Percentage reduction target'].fillna(df['Percentage reduction target'].median())

# Fill categorical columns with a placeholder value
df['City Short Name'] = df['City Short Name'].fillna('Unknown City')
df['Country'] = df['Country'].fillna('Unknown Country')
df['Organisation'] = df['Organisation'].fillna('Unknown Organisation')

# Convert 'Reporting Year' and 'Target date' to datetime format and fill with a default value if they remain NaN
df['Reporting Year'] = pd.to_datetime(df['Reporting Year'], format='%Y', errors='coerce').dt.year
df['Target date'] = pd.to_datetime(df['Target date'], format='%Y', errors='coerce').dt.year

df['Reporting Year'] = df['Reporting Year'].fillna(0)
df['Target date'] = df['Target date'].fillna(0)

# 2. Data Type Conversions
# Convert 'Reporting Year' to datetime format if not done yet
df['Reporting Year'] = pd.to_datetime(df['Reporting Year'], format='%Y', errors='coerce').dt.year

# Convert 'Target date' to datetime format if it's not NaN
df['Target date'] = pd.to_datetime(df['Target date'], format='%Y', errors='coerce').dt.year

# 3. Standardizing Formats
# Standardize text in 'City Short Name' by capitalizing
df['City Short Name'] = df['City Short Name'].str.title()

# 4. Removing Duplicates
# Remove duplicate rows, if any
df.drop_duplicates(inplace=True)

# 5. Trimming and Cleaning Strings
# Strip leading/trailing spaces from all string columns
df['Organisation'] = df['Organisation'].str.strip()

# 6. Consolidating Categories
# Consolidate similar country names if needed
df['Country'] = df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# 7. Validating Data
# Ensure that 'Percentage reduction target' is non-negative
df = df[df['Percentage reduction target'] >= 0]

# 8. Creating Unique Identifiers
# Create a unique identifier for each row if the 'Account No' is not unique
df['id'] = pd.factorize(df['Account No'])[0] + 1

# 9. Exporting Clean Data
# Export the cleaned data to a new CSV file
df.to_csv('cleaned_data_Neo4j_2016_-_Cities_Emissions_Reduction_Targets_20240207.csv', index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(df.head())
print(df.info())

# Check for missing values after cleaning
print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Initial Data:
             Organisation  Account No  Country      City Short Name  C40  \
0           Odder Kommune       58796  Denmark        Odder Kommune  NaN
1        Comune di Napoli       36158    Italy               Napoli  NaN
2     Egedal Municipality       62855  Denmark  Egedal Municipality  NaN
3            Yilan County       61753   Taiwan               Yilan   NaN
4  City of Emeryville, CA       61790      USA       Emeryville, CA  NaN

   Reporting Year Sector              Target boundary Baseline year  \
0            2016  Total                          NaN          2010
1            2016  Total                          NaN          2005
2            2016  Total                          NaN          2009
3            2016  Total                          NaN          2009
4            2016  Total  Overall community emissions          2004

   Baseline emissions (metric tonnes CO2e)  Percentage reduction target  \
0                                   6136.0                          2.0
1                                2913434.0                         25.0
2                                 268000.0                          7.0
3                                3804493.0                         35.0
4                                 178832.0                         40.0

   Target date                                            Comment  \
0          NaN                                                NaN
1       2020.0                                                NaN
2       2020.0  The municipality are increasing in terms of ci...
3       2020.0                                                NaN
4       2030.0                                                NaN

              City Location        Country Location
0    (55.975718, 10.149958)    (56.26392, 9.501785)
1  (40.8419943, 14.2513831)    (41.87194, 12.56738)
2    (55.795045, 12.238733)    (56.26392, 9.501785)
3    (24.702107, 121.73775)  (23.69781, 120.960515)
4  (37.831316, -122.285247)  (37.09024, -95.712891)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 15 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Organisation                             280 non-null    object
 1   Account No                               280 non-null    int64
 2   Country                                  280 non-null    object
 3   City Short Name                          280 non-null    object
 4   C40                                      83 non-null     object
 5   Reporting Year                           280 non-null    int64
 6   Sector                                   268 non-null    object
 7   Target boundary                          222 non-null    object
 8   Baseline year                            275 non-null    object
 9   Baseline emissions (metric tonnes CO2e)  262 non-null    float64
 10  Percentage reduction target              280 non-null    float64
 11  Target date                              270 non-null    float64
 12  Comment                                  138 non-null    object
 13  City Location                            280 non-null    object
 14  Country Location                         280 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 32.9+ KB
None

Missing Values Before Cleaning:
Organisation                                 0
Account No                                   0
Country                                      0
City Short Name                              0
C40                                        197
Reporting Year                               0
Sector                                      12
Target boundary                             58
Baseline year                                5
Baseline emissions (metric tonnes CO2e)     18
Percentage reduction target                  0
Target date                                 10
Comment                                    142
City Location                                0
Country Location                             0
dtype: int64

Cleaned Data:
             Organisation  Account No  Country      City Short Name  C40  \
0           Odder Kommune       58796  Denmark        Odder Kommune  NaN
1        Comune di Napoli       36158    Italy               Napoli  NaN
2     Egedal Municipality       62855  Denmark  Egedal Municipality  NaN
3            Yilan County       61753   Taiwan               Yilan   NaN
4  City of Emeryville, CA       61790      USA       Emeryville, Ca  NaN

   Reporting Year Sector              Target boundary Baseline year  \
0            2016  Total                          NaN          2010
1            2016  Total                          NaN          2005
2            2016  Total                          NaN          2009
3            2016  Total                          NaN          2009
4            2016  Total  Overall community emissions          2004

   Baseline emissions (metric tonnes CO2e)  Percentage reduction target  \
0                                   6136.0                          2.0
1                                2913434.0                         25.0
2                                 268000.0                          7.0
3                                3804493.0                         35.0
4                                 178832.0                         40.0

   Target date                                            Comment  \
0          NaN                                                NaN
1       2020.0                                                NaN
2       2020.0  The municipality are increasing in terms of ci...
3       2020.0                                                NaN
4       2030.0                                                NaN

              City Location        Country Location  id
0    (55.975718, 10.149958)    (56.26392, 9.501785)   1
1  (40.8419943, 14.2513831)    (41.87194, 12.56738)   2
2    (55.795045, 12.238733)    (56.26392, 9.501785)   3
3    (24.702107, 121.73775)  (23.69781, 120.960515)   4
4  (37.831316, -122.285247)  (37.09024, -95.712891)   5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 16 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Organisation                             280 non-null    object
 1   Account No                               280 non-null    int64
 2   Country                                  280 non-null    object
 3   City Short Name                          280 non-null    object
 4   C40                                      83 non-null     object
 5   Reporting Year                           280 non-null    int32
 6   Sector                                   268 non-null    object
 7   Target boundary                          222 non-null    object
 8   Baseline year                            275 non-null    object
 9   Baseline emissions (metric tonnes CO2e)  280 non-null    float64
 10  Percentage reduction target              280 non-null    float64
 11  Target date                              270 non-null    float64
 12  Comment                                  138 non-null    object
 13  City Location                            280 non-null    object
 14  Country Location                         280 non-null    object
 15  id                                       280 non-null    int64
dtypes: float64(3), int32(1), int64(2), object(10)
memory usage: 34.0+ KB
None

Missing Values After Cleaning:
Organisation                                 0
Account No                                   0
Country                                      0
City Short Name                              0
C40                                        197
Reporting Year                               0
Sector                                      12
Target boundary                             58
Baseline year                                5
Baseline emissions (metric tonnes CO2e)      0
Percentage reduction target                  0
Target date                                 10
Comment                                    142
City Location                                0
Country Location                             0
id                                           0
dtype: int64

Explanation of the Code

Loading Data: Loads the CSV file into a DataFrame using pandas.
    
Handling Missing Values: Checks for and handles missing data by filling or removing based on the column importance.
    
Data Type Conversions: Converts columns to appropriate data types, like converting years to datetime objects.
    
Standardizing Formats: Ensures consistent formatting in text fields and date representations.
    
Removing Duplicates: Removes duplicate entries to ensure the uniqueness of data.
    
Trimming and Cleaning Strings: Cleans up string data by trimming spaces and correcting formats.
    
Consolidating Categories: Combines similar categories to reduce redundancy and simplify analysis.
    
Validating Data: Applies checks to ensure data meets logical constraints (e.g., non-negative percentages).
    
Creating Unique Identifiers: Generates unique identifiers for nodes in Neo4j, ensuring each node can be distinctly referenced.
                                                         
Exporting Clean Data: Saves the cleaned DataFrame back to a CSV file, ready for importing into Neo4j.

Step 4: Define Functions to Create Nodes and Relationships

In [16]:
# Function to create city nodes
def create_city_nodes(df):
    for index, row in df.iterrows():
        city = Node("City", name=row['City Short Name'], country=row['Country'], reporting_year=row['Reporting Year'])
        graph.merge(city, "City", "name")

# Function to create emissions reduction target relationships
def create_emissions_reduction_relationships(df):
    for index, row in df.iterrows():
        city_node = graph.nodes.match("City", name=row['City Short Name']).first()
        if city_node:
            reduction_target = Node("ReductionTarget", target=row['Percentage reduction target'], baseline_emissions=row['Baseline emissions (metric tonnes CO2e)'], target_year=row['Target date'])
            relationship = Relationship(city_node, "HAS_TARGET", reduction_target)
            graph.create(relationship)

# Create nodes and relationships in Neo4j
create_city_nodes(df)
create_emissions_reduction_relationships(df)

Step 5: Insert cleaned_data_Neo4j_2016_-_Cities_Emissions_Reduction_Targets_20240207.csv into Neo4j

In [17]:
from py2neo import Graph, Node, Relationship

# Create nodes and relationships in Neo4j
create_city_nodes(df)
create_emissions_reduction_relationships(df)

# Verify by running a query to see the inserted nodes and relationships
query = """
MATCH (c:City)-[:HAS_TARGET]->(t:ReductionTarget)
RETURN c.name AS city, c.country AS country, c.reporting_year AS year, t.target AS reduction_target, t.baseline_emissions AS baseline_emissions, t.target_year AS target_year
ORDER BY c.name
"""
results = graph.run(query).to_data_frame()
print(results)

                city    country  year  reduction_target  baseline_emissions  \
0     Aarhus Kommune    Denmark  2016             100.0           2100000.0
1     Aarhus Kommune    Denmark  2016             100.0           2100000.0
2     Aarhus Kommune    Denmark  2016             100.0           2100000.0
3     Aarhus Kommune    Denmark  2016             100.0           2100000.0
4           Adelaide  Australia  2016              35.0            411000.0
...              ...        ...   ...               ...                 ...
1115         Yonkers        USA  2016              20.0            844276.0
1116        Zaragoza      Spain  2016              20.0           1237553.0
1117        Zaragoza      Spain  2016              20.0           1237553.0
1118        Zaragoza      Spain  2016              20.0           1237553.0
1119        Zaragoza      Spain  2016              20.0           1237553.0

      target_year
0          2030.0
1          2030.0
2          2030.0
3          2030.0
4          2020.0
...           ...
1115       2020.0
1116       2020.0
1117       2020.0
1118       2020.0
1119       2020.0

[1120 rows x 6 columns]

Step 1: Load and Inspect the CSV

First, let's load the CSV file and display its column names to ensure we use the correct ones.

In [10]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2016_-_Citywide_GHG_Emissions_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure and column names
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

Initial Data:
   Account Number            City Name         Country City Short Name  C40  \
0           35894    Ville de Montreal          Canada        Montreal  NaN
1           35898   Greater Manchester  United Kingdom      Manchester  NaN
2           54128         City of Reno             USA            Reno  NaN
3           35879  City of Minneapolis             USA     Minneapolis  NaN
4           50558   City of London, ON          Canada      London, ON  NaN

   Reporting Year        Measurement Year  \
0            2016  12/31/2009 12:00:00 AM
1            2016  12/31/2013 12:00:00 AM
2            2016  12/31/2014 12:00:00 AM
3            2016  12/31/2014 12:00:00 AM
4            2016  12/31/2014 12:00:00 AM

                                            Boundary  \
0  Other: The regional entity that constitutes th...
1                                A metropolitan area
2      Administrative boundary of a local government
3      Administrative boundary of a local government
4      Administrative boundary of a local government

                                 Primary Methodology  \
0  2006 IPCC Guidelines for National Greenhouse G...
1  Global Protocol for Community-Scale Greenhouse...
2  Global Protocol for Community-Scale Greenhouse...
3  U.S. Community Protocol for Accounting and Rep...
4  International Emissions Analysis Protocol (ICLEI)

                                 Methodology Details  ... Current Population  \
0  2006 IPCC Guidelines for National Greenhouse G...  ...          1886481.0
1  A GPC Compliant dataset has been established f...  ...          2762000.0
2  Also utilized the U.S. Community Protocol for ...  ...           236995.0
3  A note regarding how double counting is avoide...  ...           407207.0
4  as adapted by ICLEI Canada for use in the FCM'...  ...           375000.0

       City GDP             GDP Currency  Year of GDP  \
0  1.201180e+11  CAD     Canadian Dollar       2014.0
1  8.777300e+10                      NaN       2013.0
2  1.000000e+10        USD     US Dollar       2014.0
3  2.357000e+11        USD     US Dollar       2014.0
4  1.540000e+10  CAD     Canadian Dollar       2014.0

                                          GDP Source  \
0  Ville de Montréal, Montréal en statistiques, h...
1  UK ONS (using 1.56 USD/GBP) Figures provided i...
2                    Bureau of Economic Analysis10.4
3  http://www.bea.gov/iTable/iTable.cfm?reqid=70&...
4  Conference Board of Canada, London Census Metr...

  Average annual temperature (in Celsius)​  ​Land area (in square km)  \
0                                      6.8                      500.0
1                                      9.5                     1277.0
2                                     10.4                      288.0
3                                      7.9                      139.8
4                                      7.9                      421.0

   Average altitude (m)              City Location          Country Location
0                  17.0  (45.5086699, -73.5539925)  (56.130366, -106.346771)
1                 250.0   (53.4575955, -2.1578377)    (55.378051, -3.435973)
2                1373.0       (39.5296, -119.8138)    (37.09024, -95.712891)
3                 264.0     (44.983334, -93.26667)    (37.09024, -95.712891)
4                 251.0        (42.9837, -81.2497)  (56.130366, -106.346771)

[5 rows x 27 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int64
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
dtypes: float64(9), int64(3), object(15)
memory usage: 39.6+ KB
None

Column Names:
Index(['Account Number', 'City Name', 'Country', 'City Short Name', 'C40',
       'Reporting Year', 'Measurement Year', 'Boundary', 'Primary Methodology',
       'Methodology Details', 'Gases included',
       'Total City-wide Emissions (metric tonnes CO2e)',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Current Population Year',
       'Current Population', 'City GDP', 'GDP Currency', 'Year of GDP',
       'GDP Source', 'Average annual temperature (in Celsius)​',
       '​Land area (in square km)', 'Average altitude (m)', 'City Location',
       'Country Location'],
      dtype='object')

Step 2: Load and Clean the Data

In [11]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2016_-_Citywide_GHG_Emissions_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(df.isna().sum())

# Fill numeric columns with median values
df['Total City-wide Emissions (metric tonnes CO2e)'] = df['Total City-wide Emissions (metric tonnes CO2e)'].fillna(df['Total City-wide Emissions (metric tonnes CO2e)'].median())

# Fill categorical columns with a placeholder value
df['City Short Name'] = df['City Short Name'].fillna('Unknown City')
df['Country'] = df['Country'].fillna('Unknown Country')
# Assuming 'Organisation' refers to 'Primary Methodology' or 'Methodology Details'
df['Primary Methodology'] = df['Primary Methodology'].fillna('Unknown Methodology')

# Convert 'Reporting Year' to datetime format and fill with a default value if they remain NaN
df['Reporting Year'] = pd.to_datetime(df['Reporting Year'], format='%Y', errors='coerce').dt.year
df['Reporting Year'] = df['Reporting Year'].fillna(0).astype(int)

# Data Type Conversions
df['Reporting Year'] = pd.to_datetime(df['Reporting Year'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
df['City Short Name'] = df['City Short Name'].str.title()

# Removing Duplicates
df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
df['Primary Methodology'] = df['Primary Methodology'].str.strip()

# Consolidating Categories
df['Country'] = df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
df = df[df['Total City-wide Emissions (metric tonnes CO2e)'] >= 0]

# Creating Unique Identifiers
df['id'] = pd.factorize(df['Account Number'])[0] + 1

# Exporting Clean Data
df.to_csv('cleaned_data_Neo4j_2016_-_Citywide_GHG_Emissions_20240207.csv', index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(df.head())
print(df.info())

# Check for missing values after cleaning
print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Initial Data:
   Account Number            City Name         Country City Short Name  C40  \
0           35894    Ville de Montreal          Canada        Montreal  NaN
1           35898   Greater Manchester  United Kingdom      Manchester  NaN
2           54128         City of Reno             USA            Reno  NaN
3           35879  City of Minneapolis             USA     Minneapolis  NaN
4           50558   City of London, ON          Canada      London, ON  NaN

   Reporting Year        Measurement Year  \
0            2016  12/31/2009 12:00:00 AM
1            2016  12/31/2013 12:00:00 AM
2            2016  12/31/2014 12:00:00 AM
3            2016  12/31/2014 12:00:00 AM
4            2016  12/31/2014 12:00:00 AM

                                            Boundary  \
0  Other: The regional entity that constitutes th...
1                                A metropolitan area
2      Administrative boundary of a local government
3      Administrative boundary of a local government
4      Administrative boundary of a local government

                                 Primary Methodology  \
0  2006 IPCC Guidelines for National Greenhouse G...
1  Global Protocol for Community-Scale Greenhouse...
2  Global Protocol for Community-Scale Greenhouse...
3  U.S. Community Protocol for Accounting and Rep...
4  International Emissions Analysis Protocol (ICLEI)

                                 Methodology Details  ... Current Population  \
0  2006 IPCC Guidelines for National Greenhouse G...  ...          1886481.0
1  A GPC Compliant dataset has been established f...  ...          2762000.0
2  Also utilized the U.S. Community Protocol for ...  ...           236995.0
3  A note regarding how double counting is avoide...  ...           407207.0
4  as adapted by ICLEI Canada for use in the FCM'...  ...           375000.0

       City GDP             GDP Currency  Year of GDP  \
0  1.201180e+11  CAD     Canadian Dollar       2014.0
1  8.777300e+10                      NaN       2013.0
2  1.000000e+10        USD     US Dollar       2014.0
3  2.357000e+11        USD     US Dollar       2014.0
4  1.540000e+10  CAD     Canadian Dollar       2014.0

                                          GDP Source  \
0  Ville de Montréal, Montréal en statistiques, h...
1  UK ONS (using 1.56 USD/GBP) Figures provided i...
2                    Bureau of Economic Analysis10.4
3  http://www.bea.gov/iTable/iTable.cfm?reqid=70&...
4  Conference Board of Canada, London Census Metr...

  Average annual temperature (in Celsius)​  ​Land area (in square km)  \
0                                      6.8                      500.0
1                                      9.5                     1277.0
2                                     10.4                      288.0
3                                      7.9                      139.8
4                                      7.9                      421.0

   Average altitude (m)              City Location          Country Location
0                  17.0  (45.5086699, -73.5539925)  (56.130366, -106.346771)
1                 250.0   (53.4575955, -2.1578377)    (55.378051, -3.435973)
2                1373.0       (39.5296, -119.8138)    (37.09024, -95.712891)
3                 264.0     (44.983334, -93.26667)    (37.09024, -95.712891)
4                 251.0        (42.9837, -81.2497)  (56.130366, -106.346771)

[5 rows x 27 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int64
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
dtypes: float64(9), int64(3), object(15)
memory usage: 39.6+ KB
None

Column Names:
Index(['Account Number', 'City Name', 'Country', 'City Short Name', 'C40',
       'Reporting Year', 'Measurement Year', 'Boundary', 'Primary Methodology',
       'Methodology Details', 'Gases included',
       'Total City-wide Emissions (metric tonnes CO2e)',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Current Population Year',
       'Current Population', 'City GDP', 'GDP Currency', 'Year of GDP',
       'GDP Source', 'Average annual temperature (in Celsius)​',
       '​Land area (in square km)', 'Average altitude (m)', 'City Location',
       'Country Location'],
      dtype='object')

Missing Values Before Cleaning:
Account Number                                      0
City Name                                           0
Country                                             0
City Short Name                                     0
C40                                               133
Reporting Year                                      0
Measurement Year                                    0
Boundary                                            0
Primary Methodology                                 0
Methodology Details                                54
Gases included                                      6
Total City-wide Emissions (metric tonnes CO2e)      0
Total Scope 1 Emissions (metric tonnes CO2e)       53
Total Scope 2 Emissions (metric tonnes CO2e)       55
Increase/Decrease from last year                   21
Reason for increase/decrease in emissions          43
Current Population Year                             0
Current Population                                  2
City GDP                                           57
GDP Currency                                       64
Year of GDP                                        50
GDP Source                                         57
Average annual temperature (in Celsius)​           10
​Land area (in square km)                           3
Average altitude (m)                               19
City Location                                       0
Country Location                                    0
dtype: int64

Cleaned Data:
   Account Number            City Name         Country City Short Name  C40  \
0           35894    Ville de Montreal          Canada        Montreal  NaN
1           35898   Greater Manchester  United Kingdom      Manchester  NaN
2           54128         City of Reno             USA            Reno  NaN
3           35879  City of Minneapolis             USA     Minneapolis  NaN
4           50558   City of London, ON          Canada      London, On  NaN

   Reporting Year        Measurement Year  \
0            2016  12/31/2009 12:00:00 AM
1            2016  12/31/2013 12:00:00 AM
2            2016  12/31/2014 12:00:00 AM
3            2016  12/31/2014 12:00:00 AM
4            2016  12/31/2014 12:00:00 AM

                                            Boundary  \
0  Other: The regional entity that constitutes th...
1                                A metropolitan area
2      Administrative boundary of a local government
3      Administrative boundary of a local government
4      Administrative boundary of a local government

                                 Primary Methodology  \
0  2006 IPCC Guidelines for National Greenhouse G...
1  Global Protocol for Community-Scale Greenhouse...
2  Global Protocol for Community-Scale Greenhouse...
3  U.S. Community Protocol for Accounting and Rep...
4  International Emissions Analysis Protocol (ICLEI)

                                 Methodology Details  ...      City GDP  \
0  2006 IPCC Guidelines for National Greenhouse G...  ...  1.201180e+11
1  A GPC Compliant dataset has been established f...  ...  8.777300e+10
2  Also utilized the U.S. Community Protocol for ...  ...  1.000000e+10
3  A note regarding how double counting is avoide...  ...  2.357000e+11
4  as adapted by ICLEI Canada for use in the FCM'...  ...  1.540000e+10

              GDP Currency  Year of GDP  \
0  CAD     Canadian Dollar       2014.0
1                      NaN       2013.0
2        USD     US Dollar       2014.0
3        USD     US Dollar       2014.0
4  CAD     Canadian Dollar       2014.0

                                          GDP Source  \
0  Ville de Montréal, Montréal en statistiques, h...
1  UK ONS (using 1.56 USD/GBP) Figures provided i...
2                    Bureau of Economic Analysis10.4
3  http://www.bea.gov/iTable/iTable.cfm?reqid=70&...
4  Conference Board of Canada, London Census Metr...

  Average annual temperature (in Celsius)​ ​Land area (in square km)  \
0                                      6.8                     500.0
1                                      9.5                    1277.0
2                                     10.4                     288.0
3                                      7.9                     139.8
4                                      7.9                     421.0

   Average altitude (m)              City Location          Country Location  \
0                  17.0  (45.5086699, -73.5539925)  (56.130366, -106.346771)
1                 250.0   (53.4575955, -2.1578377)    (55.378051, -3.435973)
2                1373.0       (39.5296, -119.8138)    (37.09024, -95.712891)
3                 264.0     (44.983334, -93.26667)    (37.09024, -95.712891)
4                 251.0        (42.9837, -81.2497)  (56.130366, -106.346771)

  id
0  1
1  2
2  3
3  4
4  5

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 28 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int32
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
 27  id                                              187 non-null    int64
dtypes: float64(9), int32(1), int64(3), object(15)
memory usage: 40.3+ KB
None

Missing Values After Cleaning:
Account Number                                      0
City Name                                           0
Country                                             0
City Short Name                                     0
C40                                               133
Reporting Year                                      0
Measurement Year                                    0
Boundary                                            0
Primary Methodology                                 0
Methodology Details                                54
Gases included                                      6
Total City-wide Emissions (metric tonnes CO2e)      0
Total Scope 1 Emissions (metric tonnes CO2e)       53
Total Scope 2 Emissions (metric tonnes CO2e)       55
Increase/Decrease from last year                   21
Reason for increase/decrease in emissions          43
Current Population Year                             0
Current Population                                  2
City GDP                                           57
GDP Currency                                       64
Year of GDP                                        50
GDP Source                                         57
Average annual temperature (in Celsius)​           10
​Land area (in square km)                           3
Average altitude (m)                               19
City Location                                       0
Country Location                                    0
id                                                  0
dtype: int64

Step 3: Define Functions to Create Nodes and Relationships in Neo4j

In [12]:
from py2neo import Graph, Node, Relationship

# Connect to Neo4j
graph = Graph("bolt://localhost:7687", auth=("neo4j", "12345678"))

# Function to create city nodes
def create_city_nodes(df):
    for index, row in df.iterrows():
        city = Node("City", name=row['City Short Name'], country=row['Country'], methodology=row['Primary Methodology'], year=row['Reporting Year'])
        graph.merge(city, "City", "name")

# Function to create GHG emissions relationships
def create_ghg_emissions_relationships(df):
    for index, row in df.iterrows():
        city_node = graph.nodes.match("City", name=row['City Short Name']).first()
        if city_node:
            ghg_emission = Node("GHGEmission", total_emissions=row['Total City-wide Emissions (metric tonnes CO2e)'], year=row['Reporting Year'])
            relationship = Relationship(city_node, "HAS_GHG_EMISSION", ghg_emission)
            graph.create(relationship)

# Create nodes and relationships in Neo4j
create_city_nodes(df)
create_ghg_emissions_relationships(df)

Step 4: Verify Data in Neo4j

In [13]:
query = """
MATCH (c:City)-[:HAS_GHG_EMISSION]->(g:GHGEmission)
RETURN c.name AS city, c.country AS country, c.year AS year, g.total_emissions AS total_emissions, g.year AS emission_year
ORDER BY c.name
"""
results = graph.run(query).to_data_frame()
print(results)

               city    country  year  total_emissions  emission_year
0    Aarhus Kommune    Denmark  2016          1900.00           2016
1         Abington         USA  2016        615224.00           2016
2       Addis Ababa   Ethiopia  2016       3708292.00           2016
3          Adelaide  Australia  2016        486541.00           2016
4          Ajax, On     Canada  2016        538836.00           2016
..              ...        ...   ...              ...            ...
182          Yilan      Taiwan  2016       8180556.68           2016
183        Yokohama      Japan  2016      21950000.00           2016
184         Yonkers        USA  2016       1248650.00           2016
185        Zaragoza      Spain  2016       1785603.75           2016
186          Águeda   Portugal  2016        258882.00           2016

[187 rows x 5 columns]

Step 1: Load and Inspect the CSV

In [14]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2017_-_Cities_Community_Wide_Emissions.csv'
df = pd.read_csv(file_path)

# Display the initial data structure and column names
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

Initial Data:
   Account number                     Organization                 City  \
0           49363  Nelson Mandela Bay Municipality  Nelson Mandela Bay
1           31171           Ayuntamiento de Madrid               Madrid
2            3417                    New York City        New York City
3           59537               City of Denton, TX           Denton, TX
4           35894                Ville de Montreal             Montreal

        Country         Region  C40  Access  Reporting year  \
0  South Africa         Africa  NaN  Public            2017
1         Spain         Europe  C40  Public            2017
2           USA  North America  C40  Public            2017
3           USA  North America  NaN  Public            2017
4        Canada  North America  C40  Public            2017

           Accounting year                                       Boundary  \
0  2013-07-01 - 2014-06-30                            A metropolitan area
1  2014-01-01 - 2014-12-31  Administrative boundary of a local government
2  2015-01-01 - 2015-12-31  Administrative boundary of a local government
3  2015-01-01 - 2015-12-31  Administrative boundary of a local government
4  2013-01-01 - 2013-12-31                            A metropolitan area

   ... Population year           GDP                GDP Currency  GDP Year  \
0  ...            2011  5.214700e+04  ZAR     South African Rand    2010.0
1  ...            2016  1.293780e+11                EUR     Euro    2015.0
2  ...            2016  1.558520e+12           USD     US Dollar    2015.0
3  ...            2015           NaN                         NaN       NaN
4  ...            2013  1.154128e+08     CAD     Canadian Dollar    2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

   Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                      17.5                   69.0
1                                      15.0                  655.0
2                                      13.0                   10.0
3                                      18.2                  192.0
4                                       6.8                   17.0

  ​Land area (in square km)              City Location  \
0                    1950.0    (-33.745241, 25.568108)
1                     604.0   (40.1076253, -3.3875673)
2                     784.0  (40.7127837, -74.0059413)
3                     227.8    (33.214841, -97.133068)
4                     500.0  (45.5086699, -73.5539925)

           Country Location
0   (-30.559482, 22.937506)
1     (40.463667, -3.74922)
2    (37.09024, -95.712891)
3    (37.09024, -95.712891)
4  (56.130366, -106.346771)

[5 rows x 31 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB
None

Column Names:
Index(['Account number', 'Organization', 'City', 'Country', 'Region', 'C40',
       'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol',
       'Protocol column', 'Gases included',
       'Total emissions (metric tonnes CO2e)', 'Scopes Included ',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Population',
       'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source',
       'Average annual temperature (in Celsius)​', '​Average altitude (m)',
       '​Land area (in square km)', 'City Location', 'Country Location'],
      dtype='object')

Step 2: Load and Clean the Data

In [15]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2017_-_Cities_Community_Wide_Emissions.csv'
df = pd.read_csv(file_path)

# Display the initial data structure
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(df.isna().sum())

# Fill numeric columns with median values
df['Total emissions (metric tonnes CO2e)'] = df['Total emissions (metric tonnes CO2e)'].fillna(df['Total emissions (metric tonnes CO2e)'].median())

# Fill categorical columns with a placeholder value
df['City'] = df['City'].fillna('Unknown City')
df['Country'] = df['Country'].fillna('Unknown Country')
df['Organization'] = df['Organization'].fillna('Unknown Organisation')

# Convert 'Reporting year' to datetime format and fill with a default value if they remain NaN
df['Reporting year'] = pd.to_datetime(df['Reporting year'], format='%Y', errors='coerce').dt.year
df['Reporting year'] = df['Reporting year'].fillna(0).astype(int)

# Data Type Conversions
df['Reporting year'] = pd.to_datetime(df['Reporting year'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
df['City'] = df['City'].str.title()

# Removing Duplicates
df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
df['Organization'] = df['Organization'].str.strip()

# Consolidating Categories
df['Country'] = df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
df = df[df['Total emissions (metric tonnes CO2e)'] >= 0]

# Creating Unique Identifiers
df['id'] = pd.factorize(df['Account number'])[0] + 1

# Exporting Clean Data
df.to_csv('cleaned_data_Neo4j_2017_-_Cities_Community_Wide_Emissions.csv', index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(df.head())
print(df.info())

# Check for missing values after cleaning
print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Initial Data:
   Account number                     Organization                 City  \
0           49363  Nelson Mandela Bay Municipality  Nelson Mandela Bay
1           31171           Ayuntamiento de Madrid               Madrid
2            3417                    New York City        New York City
3           59537               City of Denton, TX           Denton, TX
4           35894                Ville de Montreal             Montreal

        Country         Region  C40  Access  Reporting year  \
0  South Africa         Africa  NaN  Public            2017
1         Spain         Europe  C40  Public            2017
2           USA  North America  C40  Public            2017
3           USA  North America  NaN  Public            2017
4        Canada  North America  C40  Public            2017

           Accounting year                                       Boundary  \
0  2013-07-01 - 2014-06-30                            A metropolitan area
1  2014-01-01 - 2014-12-31  Administrative boundary of a local government
2  2015-01-01 - 2015-12-31  Administrative boundary of a local government
3  2015-01-01 - 2015-12-31  Administrative boundary of a local government
4  2013-01-01 - 2013-12-31                            A metropolitan area

   ... Population year           GDP                GDP Currency  GDP Year  \
0  ...            2011  5.214700e+04  ZAR     South African Rand    2010.0
1  ...            2016  1.293780e+11                EUR     Euro    2015.0
2  ...            2016  1.558520e+12           USD     US Dollar    2015.0
3  ...            2015           NaN                         NaN       NaN
4  ...            2013  1.154128e+08     CAD     Canadian Dollar    2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

   Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                      17.5                   69.0
1                                      15.0                  655.0
2                                      13.0                   10.0
3                                      18.2                  192.0
4                                       6.8                   17.0

  ​Land area (in square km)              City Location  \
0                    1950.0    (-33.745241, 25.568108)
1                     604.0   (40.1076253, -3.3875673)
2                     784.0  (40.7127837, -74.0059413)
3                     227.8    (33.214841, -97.133068)
4                     500.0  (45.5086699, -73.5539925)

           Country Location
0   (-30.559482, 22.937506)
1     (40.463667, -3.74922)
2    (37.09024, -95.712891)
3    (37.09024, -95.712891)
4  (56.130366, -106.346771)

[5 rows x 31 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB
None

Column Names:
Index(['Account number', 'Organization', 'City', 'Country', 'Region', 'C40',
       'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol',
       'Protocol column', 'Gases included',
       'Total emissions (metric tonnes CO2e)', 'Scopes Included ',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Population',
       'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source',
       'Average annual temperature (in Celsius)​', '​Average altitude (m)',
       '​Land area (in square km)', 'City Location', 'Country Location'],
      dtype='object')

Missing Values Before Cleaning:
Account number                                    0
Organization                                      0
City                                              0
Country                                           0
Region                                            0
C40                                             173
Access                                            0
Reporting year                                    0
Accounting year                                   0
Boundary                                          0
Protocol                                          0
Protocol column                                  78
Gases included                                  118
Total emissions (metric tonnes CO2e)             12
Scopes Included                                   0
Total Scope 1 Emissions (metric tonnes CO2e)     56
Total Scope 2 Emissions (metric tonnes CO2e)     57
Comment                                         150
Increase/Decrease from last year                 20
Reason for increase/decrease in emissions        51
Population                                        0
Population year                                   0
GDP                                              48
GDP Currency                                     45
GDP Year                                         44
GDP Source                                       51
Average annual temperature (in Celsius)​          6
​Average altitude (m)                            22
​Land area (in square km)                         1
City Location                                     0
Country Location                                  0
dtype: int64

Cleaned Data:
   Account number                     Organization                 City  \
0           49363  Nelson Mandela Bay Municipality  Nelson Mandela Bay
1           31171           Ayuntamiento de Madrid               Madrid
2            3417                    New York City        New York City
3           59537               City of Denton, TX           Denton, Tx
4           35894                Ville de Montreal             Montreal

        Country         Region  C40  Access  Reporting year  \
0  South Africa         Africa  NaN  Public            2017
1         Spain         Europe  C40  Public            2017
2           USA  North America  C40  Public            2017
3           USA  North America  NaN  Public            2017
4        Canada  North America  C40  Public            2017

           Accounting year                                       Boundary  \
0  2013-07-01 - 2014-06-30                            A metropolitan area
1  2014-01-01 - 2014-12-31  Administrative boundary of a local government
2  2015-01-01 - 2015-12-31  Administrative boundary of a local government
3  2015-01-01 - 2015-12-31  Administrative boundary of a local government
4  2013-01-01 - 2013-12-31                            A metropolitan area

   ...           GDP                GDP Currency GDP Year  \
0  ...  5.214700e+04  ZAR     South African Rand   2010.0
1  ...  1.293780e+11                EUR     Euro   2015.0
2  ...  1.558520e+12           USD     US Dollar   2015.0
3  ...           NaN                         NaN      NaN
4  ...  1.154128e+08     CAD     Canadian Dollar   2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

  Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                     17.5                   69.0
1                                     15.0                  655.0
2                                     13.0                   10.0
3                                     18.2                  192.0
4                                      6.8                   17.0

   ​Land area (in square km)              City Location  \
0                     1950.0    (-33.745241, 25.568108)
1                      604.0   (40.1076253, -3.3875673)
2                      784.0  (40.7127837, -74.0059413)
3                      227.8    (33.214841, -97.133068)
4                      500.0  (45.5086699, -73.5539925)

           Country Location id
0   (-30.559482, 22.937506)  1
1     (40.463667, -3.74922)  2
2    (37.09024, -95.712891)  3
3    (37.09024, -95.712891)  4
4  (56.130366, -106.346771)  5

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 32 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int32
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          229 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
 31  id                                            229 non-null    int64
dtypes: float64(8), int32(1), int64(4), object(19)
memory usage: 56.5+ KB
None

Missing Values After Cleaning:
Account number                                    0
Organization                                      0
City                                              0
Country                                           0
Region                                            0
C40                                             173
Access                                            0
Reporting year                                    0
Accounting year                                   0
Boundary                                          0
Protocol                                          0
Protocol column                                  78
Gases included                                  118
Total emissions (metric tonnes CO2e)              0
Scopes Included                                   0
Total Scope 1 Emissions (metric tonnes CO2e)     56
Total Scope 2 Emissions (metric tonnes CO2e)     57
Comment                                         150
Increase/Decrease from last year                 20
Reason for increase/decrease in emissions        51
Population                                        0
Population year                                   0
GDP                                              48
GDP Currency                                     45
GDP Year                                         44
GDP Source                                       51
Average annual temperature (in Celsius)​          6
​Average altitude (m)                            22
​Land area (in square km)                         1
City Location                                     0
Country Location                                  0
id                                                0
dtype: int64

Step 3: Define Functions to Create Nodes and Relationships in Neo4j

In [16]:
from py2neo import Graph, Node, Relationship

# Connect to Neo4j
graph = Graph("bolt://localhost:7687", auth=("neo4j", "12345678"))

# Function to create city nodes
def create_city_nodes(df):
    for index, row in df.iterrows():
        city = Node("City", name=row['City'], country=row['Country'], organisation=row['Organization'], year=row['Reporting year'])
        graph.merge(city, "City", "name")

# Function to create GHG emissions relationships
def create_ghg_emissions_relationships(df):
    for index, row in df.iterrows():
        city_node = graph.nodes.match("City", name=row['City']).first()
        if city_node:
            ghg_emission = Node("GHGEmission", total_emissions=row['Total emissions (metric tonnes CO2e)'], year=row['Reporting year'])
            relationship = Relationship(city_node, "HAS_GHG_EMISSION", ghg_emission)
            graph.create(relationship)

# Create nodes and relationships in Neo4j
create_city_nodes(df)
create_ghg_emissions_relationships(df)

Step 4: Verify Data in Neo4j

In [ ]:
query = """
MATCH (c:City)-[:HAS_GHG_EMISSION]->(g:GHGEmission)
RETURN c.name AS city, c.country AS country, c.year AS year, g.total_emissions AS total_emissions, g.year AS emission_year
ORDER BY c.name
"""
results = graph.run(query).to_data_frame()
print(results)

Step 1: Load and Inspect the CSV

First, let's load the CSV file and display its column names to ensure we use the correct ones.

In [18]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2017_-_Cities_Emissions_Reduction_Targets_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure and column names
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

Initial Data:
   Account No                   Organisation              City  \
0       54408                 Aarhus Kommune            Aarhus
1       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
2       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
3        1499        Ajuntament de Barcelona         Barcelona
4        1499        Ajuntament de Barcelona         Barcelona

              Country               Region  Access  C40  Reporting year  \
0             Denmark               Europe  Public  NaN            2017
1  State of Palestine  South and West Asia  Public  NaN            2017
2  State of Palestine  South and West Asia  Public  NaN            2017
3               Spain               Europe  Public  C40            2017
4               Spain               Europe  Public  C40            2017

    Type of target     Sector  ... Baseline emissions (metric tonnes CO2e)  \
0  Absolute target        NaN  ...                                     NaN
1  Absolute target  Buildings  ...                                 18320.0
2  Absolute target  Transport  ...                                  6893.0
3  Absolute target      Total  ...                                  4053.0
4  Absolute target  Buildings  ...                                  2164.0

   Percentage reduction target  Target date  \
0                        100.0         2030
1                         19.0         2020
2                          6.0         2020
3                         18.0         2020
4                          1.0         2020

  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ​Intensity unit (emissions per)                                 Comment  \
0                              NaN                                     NaN
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4                              NaN  Residential, Commercial and Industrial

  Population  Population Year           City Location       Country Location
0   336000.0           2017.0  (56.168393, 10.137373)   (56.26392, 9.501785)
1    30000.0           2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)
2    30000.0           2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)
3  1608746.0           2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)
4  1608746.0           2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)

[5 rows x 21 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 21 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          406 non-null    int64
 1   Organisation                                                                        406 non-null    object
 2   City                                                                                404 non-null    object
 3   Country                                                                             404 non-null    object
 4   Region                                                                              404 non-null    object
 5   Access                                                                              406 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      406 non-null    int64
 8   Type of target                                                                      406 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       372 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             274 non-null    float64
 12  Percentage reduction target                                                         332 non-null    float64
 13  Target date                                                                         350 non-null    object
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          404 non-null    float64
 18  Population Year                                                                     404 non-null    float64
 19  City Location                                                                       404 non-null    object
 20  Country Location                                                                    404 non-null    object
dtypes: float64(5), int64(2), object(14)
memory usage: 66.7+ KB
None

Column Names:
Index(['Account No', 'Organisation', 'City', 'Country', 'Region', 'Access',
       'C40', 'Reporting year', 'Type of target', 'Sector', 'Baseline year',
       'Baseline emissions (metric tonnes CO2e)',
       'Percentage reduction target', 'Target date',
       'Estimated business as usual absolute emissions in target year (metric tonnes CO2e)',
       '​Intensity unit (emissions per)', 'Comment', 'Population',
       'Population Year', 'City Location', 'Country Location'],
      dtype='object')

Step 2: Load and Clean the Data

In [19]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2017_-_Cities_Emissions_Reduction_Targets_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(df.isna().sum())

# Fill numeric columns with median values
df['Baseline emissions (metric tonnes CO2e)'] = df['Baseline emissions (metric tonnes CO2e)'].fillna(df['Baseline emissions (metric tonnes CO2e)'].median())
df['Percentage reduction target'] = df['Percentage reduction target'].fillna(df['Percentage reduction target'].median())

# Fill categorical columns with a placeholder value
df['City'] = df['City'].fillna('Unknown City')
df['Country'] = df['Country'].fillna('Unknown Country')
df['Organisation'] = df['Organisation'].fillna('Unknown Organisation')

# Convert 'Reporting year' and 'Target date' to datetime format and fill with a default value if they remain NaN
df['Reporting year'] = pd.to_datetime(df['Reporting year'], format='%Y', errors='coerce').dt.year
df['Target date'] = pd.to_datetime(df['Target date'], format='%Y', errors='coerce').dt.year

df['Reporting year'] = df['Reporting year'].fillna(0).astype(int)
df['Target date'] = df['Target date'].fillna(0).astype(int)

# Data Type Conversions
df['Reporting year'] = pd.to_datetime(df['Reporting year'], format='%Y', errors='coerce').dt.year
df['Target date'] = pd.to_datetime(df['Target date'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
df['City'] = df['City'].str.title()

# Removing Duplicates
df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
df['Organisation'] = df['Organisation'].str.strip()

# Consolidating Categories
df['Country'] = df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
df = df[df['Percentage reduction target'] >= 0]

# Creating Unique Identifiers
df['id'] = pd.factorize(df['Account No'])[0] + 1

# Exporting Clean Data
df.to_csv('cleaned_data_Neo4j_2017_-_Cities_Emissions_Reduction_Targets_20240207.csv', index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(df.head())
print(df.info())

# Check for missing values after cleaning
print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Initial Data:
   Account No                   Organisation              City  \
0       54408                 Aarhus Kommune            Aarhus
1       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
2       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
3        1499        Ajuntament de Barcelona         Barcelona
4        1499        Ajuntament de Barcelona         Barcelona

              Country               Region  Access  C40  Reporting year  \
0             Denmark               Europe  Public  NaN            2017
1  State of Palestine  South and West Asia  Public  NaN            2017
2  State of Palestine  South and West Asia  Public  NaN            2017
3               Spain               Europe  Public  C40            2017
4               Spain               Europe  Public  C40            2017

    Type of target     Sector  ... Baseline emissions (metric tonnes CO2e)  \
0  Absolute target        NaN  ...                                     NaN
1  Absolute target  Buildings  ...                                 18320.0
2  Absolute target  Transport  ...                                  6893.0
3  Absolute target      Total  ...                                  4053.0
4  Absolute target  Buildings  ...                                  2164.0

   Percentage reduction target  Target date  \
0                        100.0         2030
1                         19.0         2020
2                          6.0         2020
3                         18.0         2020
4                          1.0         2020

  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ​Intensity unit (emissions per)                                 Comment  \
0                              NaN                                     NaN
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4                              NaN  Residential, Commercial and Industrial

  Population  Population Year           City Location       Country Location
0   336000.0           2017.0  (56.168393, 10.137373)   (56.26392, 9.501785)
1    30000.0           2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)
2    30000.0           2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)
3  1608746.0           2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)
4  1608746.0           2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)

[5 rows x 21 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 21 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          406 non-null    int64
 1   Organisation                                                                        406 non-null    object
 2   City                                                                                404 non-null    object
 3   Country                                                                             404 non-null    object
 4   Region                                                                              404 non-null    object
 5   Access                                                                              406 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      406 non-null    int64
 8   Type of target                                                                      406 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       372 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             274 non-null    float64
 12  Percentage reduction target                                                         332 non-null    float64
 13  Target date                                                                         350 non-null    object
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          404 non-null    float64
 18  Population Year                                                                     404 non-null    float64
 19  City Location                                                                       404 non-null    object
 20  Country Location                                                                    404 non-null    object
dtypes: float64(5), int64(2), object(14)
memory usage: 66.7+ KB
None

Column Names:
Index(['Account No', 'Organisation', 'City', 'Country', 'Region', 'Access',
       'C40', 'Reporting year', 'Type of target', 'Sector', 'Baseline year',
       'Baseline emissions (metric tonnes CO2e)',
       'Percentage reduction target', 'Target date',
       'Estimated business as usual absolute emissions in target year (metric tonnes CO2e)',
       '​Intensity unit (emissions per)', 'Comment', 'Population',
       'Population Year', 'City Location', 'Country Location'],
      dtype='object')

Missing Values Before Cleaning:
Account No                                                                              0
Organisation                                                                            0
City                                                                                    2
Country                                                                                 2
Region                                                                                  2
Access                                                                                  0
C40                                                                                   312
Reporting year                                                                          0
Type of target                                                                          0
Sector                                                                                108
Baseline year                                                                          34
Baseline emissions (metric tonnes CO2e)                                               132
Percentage reduction target                                                            74
Target date                                                                            56
Estimated business as usual absolute emissions in target year (metric tonnes CO2e)    375
​Intensity unit (emissions per)                                                       383
Comment                                                                               266
Population                                                                              2
Population Year                                                                         2
City Location                                                                           2
Country Location                                                                        2
dtype: int64

Cleaned Data:
   Account No                   Organisation              City  \
0       54408                 Aarhus Kommune            Aarhus
1       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
2       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
3        1499        Ajuntament de Barcelona         Barcelona
4        1499        Ajuntament de Barcelona         Barcelona

              Country               Region  Access  C40  Reporting year  \
0             Denmark               Europe  Public  NaN            2017
1  State of Palestine  South and West Asia  Public  NaN            2017
2  State of Palestine  South and West Asia  Public  NaN            2017
3               Spain               Europe  Public  C40            2017
4               Spain               Europe  Public  C40            2017

    Type of target     Sector  ... Percentage reduction target  Target date  \
0  Absolute target        NaN  ...                       100.0       2030.0
1  Absolute target  Buildings  ...                        19.0       2020.0
2  Absolute target  Transport  ...                         6.0       2020.0
3  Absolute target      Total  ...                        18.0       2020.0
4  Absolute target  Buildings  ...                         1.0       2020.0

   Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ​Intensity unit (emissions per)                                 Comment  \
0                              NaN                                     NaN
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4                              NaN  Residential, Commercial and Industrial

  Population Population Year           City Location       Country Location id
0   336000.0          2017.0  (56.168393, 10.137373)   (56.26392, 9.501785)  1
1    30000.0          2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)  2
2    30000.0          2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)  2
3  1608746.0          2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)  3
4  1608746.0          2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)  3

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 403 entries, 0 to 405
Data columns (total 22 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          403 non-null    int64
 1   Organisation                                                                        403 non-null    object
 2   City                                                                                403 non-null    object
 3   Country                                                                             403 non-null    object
 4   Region                                                                              401 non-null    object
 5   Access                                                                              403 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      403 non-null    int32
 8   Type of target                                                                      403 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       371 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             403 non-null    float64
 12  Percentage reduction target                                                         403 non-null    float64
 13  Target date                                                                         338 non-null    float64
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          401 non-null    float64
 18  Population Year                                                                     401 non-null    float64
 19  City Location                                                                       401 non-null    object
 20  Country Location                                                                    401 non-null    object
 21  id                                                                                  403 non-null    int64
dtypes: float64(6), int32(1), int64(2), object(13)
memory usage: 70.8+ KB
None

Missing Values After Cleaning:
Account No                                                                              0
Organisation                                                                            0
City                                                                                    0
Country                                                                                 0
Region                                                                                  2
Access                                                                                  0
C40                                                                                   309
Reporting year                                                                          0
Type of target                                                                          0
Sector                                                                                105
Baseline year                                                                          32
Baseline emissions (metric tonnes CO2e)                                                 0
Percentage reduction target                                                             0
Target date                                                                            65
Estimated business as usual absolute emissions in target year (metric tonnes CO2e)    372
​Intensity unit (emissions per)                                                       380
Comment                                                                               263
Population                                                                              2
Population Year                                                                         2
City Location                                                                           2
Country Location                                                                        2
id                                                                                      0
dtype: int64

Step 3: Define Functions to Create Nodes and Relationships in Neo4j

In [20]:
from py2neo import Graph, Node, Relationship

# Connect to Neo4j
graph = Graph("bolt://localhost:7687", auth=("neo4j", "12345678"))

# Function to create city nodes
def create_city_nodes(df):
    for index, row in df.iterrows():
        city = Node("City", name=row['City'], country=row['Country'], organisation=row['Organisation'], year=row['Reporting year'])
        graph.merge(city, "City", "name")

# Function to create emissions reduction target relationships
def create_emissions_reduction_relationships(df):
    for index, row in df.iterrows():
        city_node = graph.nodes.match("City", name=row['City']).first()
        if city_node:
            reduction_target = Node("ReductionTarget", target=row['Percentage reduction target'], baseline_emissions=row['Baseline emissions (metric tonnes CO2e)'], target_year=row['Target date'])
            relationship = Relationship(city_node, "HAS_TARGET", reduction_target)
            graph.create(relationship)

# Create nodes and relationships in Neo4j
create_city_nodes(df)
create_emissions_reduction_relationships(df)

Step 4: Verify Data in Neo4j

In [21]:
query = """
MATCH (c:City)-[:HAS_TARGET]->(t:ReductionTarget)
RETURN c.name AS city, c.country AS country, c.year AS year, t.target AS reduction_target, t.baseline_emissions AS baseline_emissions, t.target_year AS target_year
ORDER BY c.name
"""
results = graph.run(query).to_data_frame()
print(results)

                 city             country  year  reduction_target  \
0              Aarhus             Denmark  2017             100.0
1    Abasan Al-Kabira  State of Palestine  2017               6.0
2    Abasan Al-Kabira  State of Palestine  2017              19.0
3            Adelaide           Australia  2017              35.0
4            Adelaide           Australia  2017             100.0
..                ...                 ...   ...               ...
398          Zaragoza               Spain  2017              20.0
399            Zürich         Switzerland  2017              82.0
400            Zürich         Switzerland  2017              55.0
401            Zürich         Switzerland  2017              28.0
402        Ærøskøbing             Denmark  2017              10.0

     baseline_emissions  target_year
0             1484767.0       2030.0
1                6893.0       2020.0
2               18320.0       2020.0
3             1175630.0       2020.0
4             1484767.0       2025.0
..                  ...          ...
398           1484767.0       2020.0
399           1484767.0       2050.0
400           1484767.0       2035.0
401           1484767.0       2020.0
402           1484767.0          NaN

[403 rows x 6 columns]

Step 1: Load and Inspect the CSV

First, let's load the CSV file and display its column names to ensure we use the correct ones.

In [22]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure and column names
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

Initial Data:
  Questionnaire  Organization Number                Organization Name  \
0   Cities 2023               840926      Prefeitura de Serra Talhada
1   Cities 2023                51075                 City of Shenzhen
2   Cities 2023               863190                            Renca
3   Cities 2023               930366  Municipalidad Distrital de Yura
4   Cities 2023                60236          Trelleborg Municipality

         City Country/Area     CDP Region  C40 City  GCoM City  Access  \
0         NaN       Brazil  Latin America     False       True  public
1    Shenzhen        China      East Asia      True      False  public
2         NaN        Chile  Latin America     False      False  public
3         NaN         Peru  Latin America     False       True  public
4  Trelleborg       Sweden         Europe     False       True  public

            Assessment attachment and/or direct link  \
0  https://drive.google.com/file/d/19DMxxK532IQSL...
1                                                NaN
2                          PLCC_Renca (08 Abril).pdf
3  https://sigrid.cenepred.gob.pe/sigridv3/docume...
4  https://moten.trelleborg.se/welcome-sv/namnder...

                    Confirm attachment/link provided  \
0  The assessment can be accessed (unrestricted) ...
1  The assessment can be accessed (unrestricted) ...
2                   The assessment has been attached
3  The assessment can be accessed (unrestricted) ...
4  The assessment can be accessed (unrestricted) ...

  Boundary of assessment relative to jurisdiction boundary  \
0  Same - covers entire jurisdiction and nothing ...
1  Same - covers entire jurisdiction and nothing ...
2  Same - covers entire jurisdiction and nothing ...
3  Same - covers entire jurisdiction and nothing ...
4  Same - covers entire jurisdiction and nothing ...

   Year of publication or approval  \
0                           2022.0
1                           2022.0
2                           2019.0
3                           2022.0
4                           2018.0

                    Factors considered in assessment  \
0  Assessment considers vulnerable populations; A...
1  Assessment considers nature; Assessment consid...
2  A process has been established for prioritizin...
3  Identified hazards have been incorporated into...
4  A process has been established for prioritizin...

                     Primary author(s) of assessment  \
0  Dedicated team within jurisdiction; Relevant d...
1  Consultant; Dedicated team within jurisdiction...
2                            Question not applicable
3                 Dedicated team within jurisdiction
4                 Dedicated team within jurisdiction

  Does the city have adaptation goal(s) and/or an adaptation plan?  \
0             Adaptation goal(s) and adaptation plan
1                                    Adaptation plan
2             Adaptation goal(s) and adaptation plan
3                                  Incomplete report
4             Adaptation goal(s) and adaptation plan

   Population  Population Year            City Location  \
0       92228           2023.0                      NaN
1    17662000           2022.0  POINT (113.813 22.9175)
2      162517           2022.0                      NaN
3       33346           2017.0                      NaN
4       46649           2022.0  POINT (13.1569 55.3751)

              Last update
0  02/07/2024 04:14:16 AM
1  02/07/2024 04:14:16 AM
2  02/07/2024 04:14:16 AM
3  02/07/2024 04:14:16 AM
4  02/07/2024 04:14:16 AM

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 20 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Questionnaire                                                     1370 non-null   object
 1   Organization Number                                               1370 non-null   int64
 2   Organization Name                                                 1370 non-null   object
 3   City                                                              931 non-null    object
 4   Country/Area                                                      1370 non-null   object
 5   CDP Region                                                        1370 non-null   object
 6   C40 City                                                          1370 non-null   bool
 7   GCoM City                                                         1370 non-null   bool
 8   Access                                                            1370 non-null   object
 9   Assessment attachment and/or direct link                          1333 non-null   object
 10  Confirm attachment/link provided                                  1370 non-null   object
 11  Boundary of assessment relative to jurisdiction boundary          1358 non-null   object
 12  Year of publication or approval                                   1344 non-null   float64
 13  Factors considered in assessment                                  1319 non-null   object
 14  Primary author(s) of assessment                                   1320 non-null   object
 15  Does the city have adaptation goal(s) and/or an adaptation plan?  1370 non-null   object
 16  Population                                                        1370 non-null   int64
 17  Population Year                                                   1362 non-null   float64
 18  City Location                                                     800 non-null    object
 19  Last update                                                       1370 non-null   object
dtypes: bool(2), float64(2), int64(2), object(14)
memory usage: 195.5+ KB
None

Column Names:
Index(['Questionnaire', 'Organization Number', 'Organization Name', 'City',
       'Country/Area', 'CDP Region', 'C40 City', 'GCoM City', 'Access',
       'Assessment attachment and/or direct link',
       'Confirm attachment/link provided',
       'Boundary of assessment relative to jurisdiction boundary',
       'Year of publication or approval', 'Factors considered in assessment',
       'Primary author(s) of assessment',
       'Does the city have adaptation goal(s) and/or an adaptation plan?',
       'Population', 'Population Year', 'City Location', 'Last update'],
      dtype='object')

Step 2: Load and Clean the Data

In [23]:
import pandas as pd

# Load the CSV data into a DataFrame
file_path = '2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure
print("Initial Data:")
print(df.head())
print("\nData Info:")
print(df.info())
print("\nColumn Names:")
print(df.columns)

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(df.isna().sum())

# Fill numeric columns with median values
df['Year of publication or approval'] = df['Year of publication or approval'].fillna(df['Year of publication or approval'].median())
df['Population'] = df['Population'].fillna(df['Population'].median())
df['Population Year'] = df['Population Year'].fillna(df['Population Year'].median())

# Fill categorical columns with a placeholder value
df['City'] = df['City'].fillna('Unknown City')
df['Country/Area'] = df['Country/Area'].fillna('Unknown Country')
df['Organization Name'] = df['Organization Name'].fillna('Unknown Organisation')

# Convert 'Year of publication or approval' to datetime format and fill with a default value if they remain NaN
df['Year of publication or approval'] = pd.to_datetime(df['Year of publication or approval'], format='%Y', errors='coerce').dt.year
df['Year of publication or approval'] = df['Year of publication or approval'].fillna(0).astype(int)

# Data Type Conversions
df['Year of publication or approval'] = pd.to_datetime(df['Year of publication or approval'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
df['City'] = df['City'].str.title()

# Removing Duplicates
df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
df['Organization Name'] = df['Organization Name'].str.strip()

# Consolidating Categories
df['Country/Area'] = df['Country/Area'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
df = df[df['Population'] >= 0]

# Creating Unique Identifiers
df['id'] = pd.factorize(df['Organization Number'])[0] + 1

# Exporting Clean Data
df.to_csv('cleaned_data_Neo4j_2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv', index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(df.head())
print(df.info())

# Check for missing values after cleaning
print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Initial Data:
  Questionnaire  Organization Number                Organization Name  \
0   Cities 2023               840926      Prefeitura de Serra Talhada
1   Cities 2023                51075                 City of Shenzhen
2   Cities 2023               863190                            Renca
3   Cities 2023               930366  Municipalidad Distrital de Yura
4   Cities 2023                60236          Trelleborg Municipality

         City Country/Area     CDP Region  C40 City  GCoM City  Access  \
0         NaN       Brazil  Latin America     False       True  public
1    Shenzhen        China      East Asia      True      False  public
2         NaN        Chile  Latin America     False      False  public
3         NaN         Peru  Latin America     False       True  public
4  Trelleborg       Sweden         Europe     False       True  public

            Assessment attachment and/or direct link  \
0  https://drive.google.com/file/d/19DMxxK532IQSL...
1                                                NaN
2                          PLCC_Renca (08 Abril).pdf
3  https://sigrid.cenepred.gob.pe/sigridv3/docume...
4  https://moten.trelleborg.se/welcome-sv/namnder...

                    Confirm attachment/link provided  \
0  The assessment can be accessed (unrestricted) ...
1  The assessment can be accessed (unrestricted) ...
2                   The assessment has been attached
3  The assessment can be accessed (unrestricted) ...
4  The assessment can be accessed (unrestricted) ...

  Boundary of assessment relative to jurisdiction boundary  \
0  Same - covers entire jurisdiction and nothing ...
1  Same - covers entire jurisdiction and nothing ...
2  Same - covers entire jurisdiction and nothing ...
3  Same - covers entire jurisdiction and nothing ...
4  Same - covers entire jurisdiction and nothing ...

   Year of publication or approval  \
0                           2022.0
1                           2022.0
2                           2019.0
3                           2022.0
4                           2018.0

                    Factors considered in assessment  \
0  Assessment considers vulnerable populations; A...
1  Assessment considers nature; Assessment consid...
2  A process has been established for prioritizin...
3  Identified hazards have been incorporated into...
4  A process has been established for prioritizin...

                     Primary author(s) of assessment  \
0  Dedicated team within jurisdiction; Relevant d...
1  Consultant; Dedicated team within jurisdiction...
2                            Question not applicable
3                 Dedicated team within jurisdiction
4                 Dedicated team within jurisdiction

  Does the city have adaptation goal(s) and/or an adaptation plan?  \
0             Adaptation goal(s) and adaptation plan
1                                    Adaptation plan
2             Adaptation goal(s) and adaptation plan
3                                  Incomplete report
4             Adaptation goal(s) and adaptation plan

   Population  Population Year            City Location  \
0       92228           2023.0                      NaN
1    17662000           2022.0  POINT (113.813 22.9175)
2      162517           2022.0                      NaN
3       33346           2017.0                      NaN
4       46649           2022.0  POINT (13.1569 55.3751)

              Last update
0  02/07/2024 04:14:16 AM
1  02/07/2024 04:14:16 AM
2  02/07/2024 04:14:16 AM
3  02/07/2024 04:14:16 AM
4  02/07/2024 04:14:16 AM

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 20 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Questionnaire                                                     1370 non-null   object
 1   Organization Number                                               1370 non-null   int64
 2   Organization Name                                                 1370 non-null   object
 3   City                                                              931 non-null    object
 4   Country/Area                                                      1370 non-null   object
 5   CDP Region                                                        1370 non-null   object
 6   C40 City                                                          1370 non-null   bool
 7   GCoM City                                                         1370 non-null   bool
 8   Access                                                            1370 non-null   object
 9   Assessment attachment and/or direct link                          1333 non-null   object
 10  Confirm attachment/link provided                                  1370 non-null   object
 11  Boundary of assessment relative to jurisdiction boundary          1358 non-null   object
 12  Year of publication or approval                                   1344 non-null   float64
 13  Factors considered in assessment                                  1319 non-null   object
 14  Primary author(s) of assessment                                   1320 non-null   object
 15  Does the city have adaptation goal(s) and/or an adaptation plan?  1370 non-null   object
 16  Population                                                        1370 non-null   int64
 17  Population Year                                                   1362 non-null   float64
 18  City Location                                                     800 non-null    object
 19  Last update                                                       1370 non-null   object
dtypes: bool(2), float64(2), int64(2), object(14)
memory usage: 195.5+ KB
None

Column Names:
Index(['Questionnaire', 'Organization Number', 'Organization Name', 'City',
       'Country/Area', 'CDP Region', 'C40 City', 'GCoM City', 'Access',
       'Assessment attachment and/or direct link',
       'Confirm attachment/link provided',
       'Boundary of assessment relative to jurisdiction boundary',
       'Year of publication or approval', 'Factors considered in assessment',
       'Primary author(s) of assessment',
       'Does the city have adaptation goal(s) and/or an adaptation plan?',
       'Population', 'Population Year', 'City Location', 'Last update'],
      dtype='object')

Missing Values Before Cleaning:
Questionnaire                                                         0
Organization Number                                                   0
Organization Name                                                     0
City                                                                439
Country/Area                                                          0
CDP Region                                                            0
C40 City                                                              0
GCoM City                                                             0
Access                                                                0
Assessment attachment and/or direct link                             37
Confirm attachment/link provided                                      0
Boundary of assessment relative to jurisdiction boundary             12
Year of publication or approval                                      26
Factors considered in assessment                                     51
Primary author(s) of assessment                                      50
Does the city have adaptation goal(s) and/or an adaptation plan?      0
Population                                                            0
Population Year                                                       8
City Location                                                       570
Last update                                                           0
dtype: int64

Cleaned Data:
  Questionnaire  Organization Number                Organization Name  \
0   Cities 2023               840926      Prefeitura de Serra Talhada
1   Cities 2023                51075                 City of Shenzhen
2   Cities 2023               863190                            Renca
3   Cities 2023               930366  Municipalidad Distrital de Yura
4   Cities 2023                60236          Trelleborg Municipality

           City Country/Area     CDP Region  C40 City  GCoM City  Access  \
0  Unknown City       Brazil  Latin America     False       True  public
1      Shenzhen        China      East Asia      True      False  public
2  Unknown City        Chile  Latin America     False      False  public
3  Unknown City         Peru  Latin America     False       True  public
4    Trelleborg       Sweden         Europe     False       True  public

            Assessment attachment and/or direct link  ...  \
0  https://drive.google.com/file/d/19DMxxK532IQSL...  ...
1                                                NaN  ...
2                          PLCC_Renca (08 Abril).pdf  ...
3  https://sigrid.cenepred.gob.pe/sigridv3/docume...  ...
4  https://moten.trelleborg.se/welcome-sv/namnder...  ...

  Boundary of assessment relative to jurisdiction boundary  \
0  Same - covers entire jurisdiction and nothing ...
1  Same - covers entire jurisdiction and nothing ...
2  Same - covers entire jurisdiction and nothing ...
3  Same - covers entire jurisdiction and nothing ...
4  Same - covers entire jurisdiction and nothing ...

  Year of publication or approval  \
0                            2022
1                            2022
2                            2019
3                            2022
4                            2018

                    Factors considered in assessment  \
0  Assessment considers vulnerable populations; A...
1  Assessment considers nature; Assessment consid...
2  A process has been established for prioritizin...
3  Identified hazards have been incorporated into...
4  A process has been established for prioritizin...

                     Primary author(s) of assessment  \
0  Dedicated team within jurisdiction; Relevant d...
1  Consultant; Dedicated team within jurisdiction...
2                            Question not applicable
3                 Dedicated team within jurisdiction
4                 Dedicated team within jurisdiction

  Does the city have adaptation goal(s) and/or an adaptation plan? Population  \
0             Adaptation goal(s) and adaptation plan                    92228
1                                    Adaptation plan                 17662000
2             Adaptation goal(s) and adaptation plan                   162517
3                                  Incomplete report                    33346
4             Adaptation goal(s) and adaptation plan                    46649

   Population Year            City Location             Last update id
0           2023.0                      NaN  02/07/2024 04:14:16 AM  1
1           2022.0  POINT (113.813 22.9175)  02/07/2024 04:14:16 AM  2
2           2022.0                      NaN  02/07/2024 04:14:16 AM  3
3           2017.0                      NaN  02/07/2024 04:14:16 AM  4
4           2022.0  POINT (13.1569 55.3751)  02/07/2024 04:14:16 AM  5

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Questionnaire                                                     1370 non-null   object
 1   Organization Number                                               1370 non-null   int64
 2   Organization Name                                                 1370 non-null   object
 3   City                                                              1370 non-null   object
 4   Country/Area                                                      1370 non-null   object
 5   CDP Region                                                        1370 non-null   object
 6   C40 City                                                          1370 non-null   bool
 7   GCoM City                                                         1370 non-null   bool
 8   Access                                                            1370 non-null   object
 9   Assessment attachment and/or direct link                          1333 non-null   object
 10  Confirm attachment/link provided                                  1370 non-null   object
 11  Boundary of assessment relative to jurisdiction boundary          1358 non-null   object
 12  Year of publication or approval                                   1370 non-null   int32
 13  Factors considered in assessment                                  1319 non-null   object
 14  Primary author(s) of assessment                                   1320 non-null   object
 15  Does the city have adaptation goal(s) and/or an adaptation plan?  1370 non-null   object
 16  Population                                                        1370 non-null   int64
 17  Population Year                                                   1370 non-null   float64
 18  City Location                                                     800 non-null    object
 19  Last update                                                       1370 non-null   object
 20  id                                                                1370 non-null   int64
dtypes: bool(2), float64(1), int32(1), int64(3), object(14)
memory usage: 200.8+ KB
None

Missing Values After Cleaning:
Questionnaire                                                         0
Organization Number                                                   0
Organization Name                                                     0
City                                                                  0
Country/Area                                                          0
CDP Region                                                            0
C40 City                                                              0
GCoM City                                                             0
Access                                                                0
Assessment attachment and/or direct link                             37
Confirm attachment/link provided                                      0
Boundary of assessment relative to jurisdiction boundary             12
Year of publication or approval                                       0
Factors considered in assessment                                     51
Primary author(s) of assessment                                      50
Does the city have adaptation goal(s) and/or an adaptation plan?      0
Population                                                            0
Population Year                                                       0
City Location                                                       570
Last update                                                           0
id                                                                    0
dtype: int64

Step 3: Define Functions to Create Nodes and Relationships in Neo4j

In [24]:
from py2neo import Graph, Node, Relationship

# Connect to Neo4j
graph = Graph("bolt://localhost:7687", auth=("neo4j", "12345678"))

# Function to create city nodes
def create_city_nodes(df):
    for index, row in df.iterrows():
        city = Node("City", name=row['City'], country=row['Country/Area'], organisation=row['Organization Name'], year=row['Year of publication or approval'])
        graph.merge(city, "City", "name")

# Function to create risk assessment relationships
def create_risk_assessment_relationships(df):
    for index, row in df.iterrows():
        city_node = graph.nodes.match("City", name=row['City']).first()
        if city_node:
            risk_assessment = Node("RiskAssessment", publication_year=row['Year of publication or approval'], population=row['Population'], population_year=row['Population Year'])
            relationship = Relationship(city_node, "HAS_RISK_ASSESSMENT", risk_assessment)
            graph.create(relationship)

# Create nodes and relationships in Neo4j
create_city_nodes(df)
create_risk_assessment_relationships(df)

Step 4: Verify Data in Neo4j

In [25]:
query = """
MATCH (c:City)-[:HAS_RISK_ASSESSMENT]->(r:RiskAssessment)
RETURN c.name AS city, c.country AS country, c.year AS year, r.publication_year AS publication_year, r.population AS population, r.population_year AS population_year
ORDER BY c.name
"""
results = graph.run(query).to_data_frame()
print(results)

                  city             country  year  publication_year  \
0               Aarhus             Denmark  2020              2020
1     Abasan Al-Kabira  State of Palestine  2019              2019
2              Abidjan       Côte d'Ivoire  2017              2017
3              Abidjan       Côte d'Ivoire  2017              2016
4                Accra               Ghana  2017              2017
...                ...                 ...   ...               ...
1365            Águeda            Portugal  2009              2015
1366            Águeda            Portugal  2009              2018
1367            Águeda            Portugal  2009              2022
1368             Åseda              Sweden  2019              2019
1369             Évora            Portugal  2017              2017

      population  population_year
0         362235           2023.0
1          35000           2022.0
2         692583           2021.0
3        6110642           2021.0
4        2036889           2020.0
...          ...              ...
1365       46131           2021.0
1366       46131           2021.0
1367       46131           2021.0
1368        9418           2021.0
1369       53591           2021.0

[1370 rows x 6 columns]