In [1]:
!pip install pymongo Pandas

Requirement already satisfied: pymongo in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (4.6.2)
Requirement already satisfied: Pandas in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.6.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)

2016_-_Cities_Emissions_Reduction_Targets_20240207

Step 1: Import Necessary Libraries
IWe need to import libraries for handling data (pandas) and connecting to MongoDB (pymongo).

In [2]:
# Import necessary libraries
import pandas as pd
from pymongo import MongoClient

C:\Users\jeffo\AppData\Local\Temp\ipykernel_26872\505973161.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Explanation:

pandas: A powerful library for data manipulation and analysis. We'll use it to load and clean the CSV data.

pymongo: A library to interact with MongoDB from Python. We'll use it to connect to our MongoDB instance and perform database operations.

Step 2: Connect to MongoDB

Set up a connection to your MongoDB database named EksamensProjekt_DB.

In [5]:
# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")  # Replace with your actual connection string
db = client['EksamensProjekt_DB']
collection = db['cities_emissions']

# Verify connection by listing databases
print(client.list_database_names())

['EksamensProjekt_DB', 'Mongo', 'OLA2_DB', 'admin', 'config', 'local', 'somesite']

Explanation:

MongoClient: This class is used to create a connection to a MongoDB server. The connection string mongodb://localhost:27017/ specifies that the server is running locally on port 27017.

db: Selects the EksamensProjekt_DB database. MongoDB will create this database when we first store data in it.

collection: Selects the cities_emissions collection within the database. This collection will store our cleaned data.

Explanation:

MongoClient: This class is used to create a connection to a MongoDB server. The connection string mongodb://localhost:27017/ specifies that the server is running locally on port 27017.

db: Selects the EksamensProjekt_DB database. MongoDB will create this database when we first store data in it.

collection: Selects the cities_emissions collection within the database. This collection will store our cleaned data.

Step 3: Load and Clean CSV Data

Load the CSV data into a pandas DataFrame and clean it.

In [9]:
# Load the CSV data into a DataFrame
file_path = '2016_-_Cities_Emissions_Reduction_Targets_20240207.csv'
df = pd.read_csv(file_path)

# Display the initial data structure
print("Initial Data:")
print(df.head())
print(df.info())

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(df.isna().sum())

# Fill numeric columns with median values
df['Baseline emissions (metric tonnes CO2e)'] = df['Baseline emissions (metric tonnes CO2e)'].fillna(df['Baseline emissions (metric tonnes CO2e)'].median())
df['Percentage reduction target'] = df['Percentage reduction target'].fillna(df['Percentage reduction target'].median())

# Fill categorical columns with a placeholder value
df['City Short Name'] = df['City Short Name'].fillna('Unknown City')
df['Country'] = df['Country'].fillna('Unknown Country')
df['Organisation'] = df['Organisation'].fillna('Unknown Organisation')

# Convert 'Reporting Year' and 'Target date' to datetime format and fill with a default value if they remain NaN
df['Reporting Year'] = pd.to_datetime(df['Reporting Year'], format='%Y', errors='coerce').dt.year
df['Target date'] = pd.to_datetime(df['Target date'], format='%Y', errors='coerce').dt.year

df['Reporting Year'] = df['Reporting Year'].fillna(0)
df['Target date'] = df['Target date'].fillna(0)

# Data Type Conversions
df['Reporting Year'] = pd.to_datetime(df['Reporting Year'], format='%Y', errors='coerce').dt.year
df['Target date'] = pd.to_datetime(df['Target date'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
df['City Short Name'] = df['City Short Name'].str.title()

# Removing Duplicates
df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
df['Organisation'] = df['Organisation'].str.strip()

# Consolidating Categories
df['Country'] = df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
df = df[df['Percentage reduction target'] >= 0]

# Creating Unique Identifiers
df['id'] = pd.factorize(df['Account No'])[0] + 1

# Exporting Clean Data
# Export the cleaned data to a new CSV file
cleaned_file_path = 'cleaned_data_2016_MongoDB_-_Cities_Emissions_Reduction_Targets_20240207.csv'
df.to_csv(cleaned_file_path, index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(df.head())
print(df.info())

print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Initial Data:
             Organisation  Account No  Country      City Short Name  C40  \
0           Odder Kommune       58796  Denmark        Odder Kommune  NaN
1        Comune di Napoli       36158    Italy               Napoli  NaN
2     Egedal Municipality       62855  Denmark  Egedal Municipality  NaN
3            Yilan County       61753   Taiwan               Yilan   NaN
4  City of Emeryville, CA       61790      USA       Emeryville, CA  NaN

   Reporting Year Sector              Target boundary Baseline year  \
0            2016  Total                          NaN          2010
1            2016  Total                          NaN          2005
2            2016  Total                          NaN          2009
3            2016  Total                          NaN          2009
4            2016  Total  Overall community emissions          2004

   Baseline emissions (metric tonnes CO2e)  Percentage reduction target  \
0                                   6136.0                          2.0
1                                2913434.0                         25.0
2                                 268000.0                          7.0
3                                3804493.0                         35.0
4                                 178832.0                         40.0

   Target date                                            Comment  \
0          NaN                                                NaN
1       2020.0                                                NaN
2       2020.0  The municipality are increasing in terms of ci...
3       2020.0                                                NaN
4       2030.0                                                NaN

              City Location        Country Location
0    (55.975718, 10.149958)    (56.26392, 9.501785)
1  (40.8419943, 14.2513831)    (41.87194, 12.56738)
2    (55.795045, 12.238733)    (56.26392, 9.501785)
3    (24.702107, 121.73775)  (23.69781, 120.960515)
4  (37.831316, -122.285247)  (37.09024, -95.712891)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 15 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Organisation                             280 non-null    object
 1   Account No                               280 non-null    int64
 2   Country                                  280 non-null    object
 3   City Short Name                          280 non-null    object
 4   C40                                      83 non-null     object
 5   Reporting Year                           280 non-null    int64
 6   Sector                                   268 non-null    object
 7   Target boundary                          222 non-null    object
 8   Baseline year                            275 non-null    object
 9   Baseline emissions (metric tonnes CO2e)  262 non-null    float64
 10  Percentage reduction target              280 non-null    float64
 11  Target date                              270 non-null    float64
 12  Comment                                  138 non-null    object
 13  City Location                            280 non-null    object
 14  Country Location                         280 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 32.9+ KB
None

Missing Values Before Cleaning:
Organisation                                 0
Account No                                   0
Country                                      0
City Short Name                              0
C40                                        197
Reporting Year                               0
Sector                                      12
Target boundary                             58
Baseline year                                5
Baseline emissions (metric tonnes CO2e)     18
Percentage reduction target                  0
Target date                                 10
Comment                                    142
City Location                                0
Country Location                             0
dtype: int64

Cleaned Data:
             Organisation  Account No  Country      City Short Name  C40  \
0           Odder Kommune       58796  Denmark        Odder Kommune  NaN
1        Comune di Napoli       36158    Italy               Napoli  NaN
2     Egedal Municipality       62855  Denmark  Egedal Municipality  NaN
3            Yilan County       61753   Taiwan               Yilan   NaN
4  City of Emeryville, CA       61790      USA       Emeryville, Ca  NaN

   Reporting Year Sector              Target boundary Baseline year  \
0            2016  Total                          NaN          2010
1            2016  Total                          NaN          2005
2            2016  Total                          NaN          2009
3            2016  Total                          NaN          2009
4            2016  Total  Overall community emissions          2004

   Baseline emissions (metric tonnes CO2e)  Percentage reduction target  \
0                                   6136.0                          2.0
1                                2913434.0                         25.0
2                                 268000.0                          7.0
3                                3804493.0                         35.0
4                                 178832.0                         40.0

   Target date                                            Comment  \
0          NaN                                                NaN
1       2020.0                                                NaN
2       2020.0  The municipality are increasing in terms of ci...
3       2020.0                                                NaN
4       2030.0                                                NaN

              City Location        Country Location  id
0    (55.975718, 10.149958)    (56.26392, 9.501785)   1
1  (40.8419943, 14.2513831)    (41.87194, 12.56738)   2
2    (55.795045, 12.238733)    (56.26392, 9.501785)   3
3    (24.702107, 121.73775)  (23.69781, 120.960515)   4
4  (37.831316, -122.285247)  (37.09024, -95.712891)   5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 16 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Organisation                             280 non-null    object
 1   Account No                               280 non-null    int64
 2   Country                                  280 non-null    object
 3   City Short Name                          280 non-null    object
 4   C40                                      83 non-null     object
 5   Reporting Year                           280 non-null    int32
 6   Sector                                   268 non-null    object
 7   Target boundary                          222 non-null    object
 8   Baseline year                            275 non-null    object
 9   Baseline emissions (metric tonnes CO2e)  280 non-null    float64
 10  Percentage reduction target              280 non-null    float64
 11  Target date                              270 non-null    float64
 12  Comment                                  138 non-null    object
 13  City Location                            280 non-null    object
 14  Country Location                         280 non-null    object
 15  id                                       280 non-null    int64
dtypes: float64(3), int32(1), int64(2), object(10)
memory usage: 34.0+ KB
None

Missing Values After Cleaning:
Organisation                                 0
Account No                                   0
Country                                      0
City Short Name                              0
C40                                        197
Reporting Year                               0
Sector                                      12
Target boundary                             58
Baseline year                                5
Baseline emissions (metric tonnes CO2e)      0
Percentage reduction target                  0
Target date                                 10
Comment                                    142
City Location                                0
Country Location                             0
id                                           0
dtype: int64

Explanation:

Load CSV: Read the CSV file into a DataFrame using pd.read_csv.

 Display Initial Data: Print the first few rows and the structure of the DataFrame to understand its content.
 
Handle Missing Values:
Fill numeric columns with median values to avoid skewing the data.
Fill categorical columns with a placeholder value to maintain consistency.

Data Type Conversions: Convert date columns to a datetime format for consistency and easier manipulation.

Standardize Formats: Standardize text formats (e.g., capitalizing city names) to maintain consistency.

Remove Duplicates: Remove any duplicate rows to ensure each record is unique.

Trim and Clean Strings: Remove extra spaces from string values.

Consolidate Categories: Replace similar categories (e.g., 'Usa' to 'USA') for consistency.

Validate Data: Ensure all percentage reduction targets are non-negative.

Create Unique Identifiers: Create a unique identifier for each row based on the 'Account No' column.

Step 4: Insert Data into MongoDB

Define a function to insert the cleaned data into MongoDB.

In [6]:
# Function to insert city documents
def insert_city_documents(df):
    for index, row in df.iterrows():
        city_document = {
            "name": row['City Short Name'],
            "country": row['Country'],
            "reporting_year": row['Reporting Year'],
            "baseline_emissions": row['Baseline emissions (metric tonnes CO2e)'],
            "percentage_reduction_target": row['Percentage reduction target'],
            "target_year": row['Target date'],
            "organisation": row['Organisation'],
            "id": row['id']
        }
        collection.insert_one(city_document)

# Insert city documents into MongoDB
insert_city_documents(df)

Explanation:

Function Definition: Define a function insert_city_documents that takes a DataFrame and a collection as arguments.

Iterate Over Rows: Loop through each row in the DataFrame.

Create Document: For each row, create a dictionary (document) containing the relevant fields.
    
Insert Document: Use collection.insert_one to insert each document into the MongoDB collection.

Step 5: Verify Data Insertion

Query MongoDB to verify the data insertion.

In [7]:
# Verify by retrieving one document
print("One document from MongoDB:")
print(collection.find_one())

# Query to see all inserted documents (sample)
for doc in collection.find().limit(5):
    print(doc)

One document from MongoDB:
{'_id': ObjectId('665c8389b791c25edf693d0b'), 'name': 'Odder Kommune', 'country': 'Denmark', 'reporting_year': 2016, 'baseline_emissions': 6136.0, 'percentage_reduction_target': 2.0, 'target_year': nan, 'organisation': 'Odder Kommune', 'id': 1}
{'_id': ObjectId('665c8389b791c25edf693d0b'), 'name': 'Odder Kommune', 'country': 'Denmark', 'reporting_year': 2016, 'baseline_emissions': 6136.0, 'percentage_reduction_target': 2.0, 'target_year': nan, 'organisation': 'Odder Kommune', 'id': 1}
{'_id': ObjectId('665c8389b791c25edf693d0c'), 'name': 'Napoli', 'country': 'Italy', 'reporting_year': 2016, 'baseline_emissions': 2913434.0, 'percentage_reduction_target': 25.0, 'target_year': 2020.0, 'organisation': 'Comune di Napoli', 'id': 2}
{'_id': ObjectId('665c8389b791c25edf693d0d'), 'name': 'Egedal Municipality', 'country': 'Denmark', 'reporting_year': 2016, 'baseline_emissions': 268000.0, 'percentage_reduction_target': 7.0, 'target_year': 2020.0, 'organisation': 'Egedal Municipality', 'id': 3}
{'_id': ObjectId('665c8389b791c25edf693d0e'), 'name': 'Yilan ', 'country': 'Taiwan', 'reporting_year': 2016, 'baseline_emissions': 3804493.0, 'percentage_reduction_target': 35.0, 'target_year': 2020.0, 'organisation': 'Yilan County', 'id': 4}
{'_id': ObjectId('665c8389b791c25edf693d0f'), 'name': 'Emeryville, Ca', 'country': 'USA', 'reporting_year': 2016, 'baseline_emissions': 178832.0, 'percentage_reduction_target': 40.0, 'target_year': 2030.0, 'organisation': 'City of Emeryville, CA', 'id': 5}

Explanation:

Retrieve One Document: Use collection.find_one() to retrieve and print one document from the collection to verify the insertion.

Sample of Inserted Documents: Use collection.find().limit(5) to retrieve and print a sample of five documents to ensure the data has been inserted correctly.

2016_-_Citywide_GHG_Emissions_20240207.csv

Step 1: Import Necessary Libraries

First, we need to import the necessary Python libraries:

In [10]:
# Import necessary libraries
import pandas as pd
from pymongo import MongoClient

Explanation:

pandas: A powerful library for data manipulation and analysis. We'll use it to load and clean the CSV data.

pymongo: A library to interact with MongoDB from Python. We'll use it to connect to our MongoDB instance and perform database operations.

Step 2: Connect to MongoDB

Set up a connection to your MongoDB database named EksamensProjekt_DB.

Explanation:

MongoClient: This class is used to create a connection to a MongoDB server. The connection string mongodb://localhost:27017/ specifies that the server is running locally on port 27017.

db: Selects the EksamensProjekt_DB database. MongoDB will create this database when we first store data in it.

Step 3: Load and Clean New CSV Data

Load the new CSV data into a pandas DataFrame and clean it.

In [12]:
# Load the new CSV data into a DataFrame
new_file_path = '2016_-_Citywide_GHG_Emissions_20240207.csv'
new_df = pd.read_csv(new_file_path)

# Display the initial data structure
print("Initial Data:")
print(new_df.head())
print(new_df.info())

# Display the column names
print("Column Names:")
print(new_df.columns)

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(new_df.isna().sum())

# Fill numeric columns with median values
emissions_column = 'Total City-wide Emissions (metric tonnes CO2e)'  # Correct column name
new_df[emissions_column] = new_df[emissions_column].fillna(new_df[emissions_column].median())

# Fill categorical columns with a placeholder value
new_df['City Name'] = new_df['City Name'].fillna('Unknown City')
new_df['Country'] = new_df['Country'].fillna('Unknown Country')

# Convert 'Reporting Year' to datetime format and fill with a default value if they remain NaN
new_df['Reporting Year'] = pd.to_datetime(new_df['Reporting Year'], format='%Y', errors='coerce').dt.year
new_df['Reporting Year'] = new_df['Reporting Year'].fillna(0)

# Data Type Conversions
new_df['Reporting Year'] = pd.to_datetime(new_df['Reporting Year'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
new_df['City Name'] = new_df['City Name'].str.title()

# Removing Duplicates
new_df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
new_df['City Name'] = new_df['City Name'].str.strip()

# Consolidating Categories
new_df['Country'] = new_df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
new_df = new_df[new_df[emissions_column] >= 0]

# Creating Unique Identifiers
new_df['id'] = pd.factorize(new_df['City Name'] + new_df['Reporting Year'].astype(str))[0] + 1

# Exporting Clean Data
cleaned_new_file_path = 'cleaned_data_2016_MongoDB_-_Citywide_GHG_Emissions_20240207.csv'
new_df.to_csv(cleaned_new_file_path, index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(new_df.head())
print(new_df.info())

print("\nMissing Values After Cleaning:")
print(new_df.isna().sum())

Initial Data:
   Account Number            City Name         Country City Short Name  C40  \
0           35894    Ville de Montreal          Canada        Montreal  NaN
1           35898   Greater Manchester  United Kingdom      Manchester  NaN
2           54128         City of Reno             USA            Reno  NaN
3           35879  City of Minneapolis             USA     Minneapolis  NaN
4           50558   City of London, ON          Canada      London, ON  NaN

   Reporting Year        Measurement Year  \
0            2016  12/31/2009 12:00:00 AM
1            2016  12/31/2013 12:00:00 AM
2            2016  12/31/2014 12:00:00 AM
3            2016  12/31/2014 12:00:00 AM
4            2016  12/31/2014 12:00:00 AM

                                            Boundary  \
0  Other: The regional entity that constitutes th...
1                                A metropolitan area
2      Administrative boundary of a local government
3      Administrative boundary of a local government
4      Administrative boundary of a local government

                                 Primary Methodology  \
0  2006 IPCC Guidelines for National Greenhouse G...
1  Global Protocol for Community-Scale Greenhouse...
2  Global Protocol for Community-Scale Greenhouse...
3  U.S. Community Protocol for Accounting and Rep...
4  International Emissions Analysis Protocol (ICLEI)

                                 Methodology Details  ... Current Population  \
0  2006 IPCC Guidelines for National Greenhouse G...  ...          1886481.0
1  A GPC Compliant dataset has been established f...  ...          2762000.0
2  Also utilized the U.S. Community Protocol for ...  ...           236995.0
3  A note regarding how double counting is avoide...  ...           407207.0
4  as adapted by ICLEI Canada for use in the FCM'...  ...           375000.0

       City GDP             GDP Currency  Year of GDP  \
0  1.201180e+11  CAD     Canadian Dollar       2014.0
1  8.777300e+10                      NaN       2013.0
2  1.000000e+10        USD     US Dollar       2014.0
3  2.357000e+11        USD     US Dollar       2014.0
4  1.540000e+10  CAD     Canadian Dollar       2014.0

                                          GDP Source  \
0  Ville de Montréal, Montréal en statistiques, h...
1  UK ONS (using 1.56 USD/GBP) Figures provided i...
2                    Bureau of Economic Analysis10.4
3  http://www.bea.gov/iTable/iTable.cfm?reqid=70&...
4  Conference Board of Canada, London Census Metr...

  Average annual temperature (in Celsius)​  ​Land area (in square km)  \
0                                      6.8                      500.0
1                                      9.5                     1277.0
2                                     10.4                      288.0
3                                      7.9                      139.8
4                                      7.9                      421.0

   Average altitude (m)              City Location          Country Location
0                  17.0  (45.5086699, -73.5539925)  (56.130366, -106.346771)
1                 250.0   (53.4575955, -2.1578377)    (55.378051, -3.435973)
2                1373.0       (39.5296, -119.8138)    (37.09024, -95.712891)
3                 264.0     (44.983334, -93.26667)    (37.09024, -95.712891)
4                 251.0        (42.9837, -81.2497)  (56.130366, -106.346771)

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int64
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
dtypes: float64(9), int64(3), object(15)
memory usage: 39.6+ KB
None
Column Names:
Index(['Account Number', 'City Name', 'Country', 'City Short Name', 'C40',
       'Reporting Year', 'Measurement Year', 'Boundary', 'Primary Methodology',
       'Methodology Details', 'Gases included',
       'Total City-wide Emissions (metric tonnes CO2e)',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Current Population Year',
       'Current Population', 'City GDP', 'GDP Currency', 'Year of GDP',
       'GDP Source', 'Average annual temperature (in Celsius)​',
       '​Land area (in square km)', 'Average altitude (m)', 'City Location',
       'Country Location'],
      dtype='object')

Missing Values Before Cleaning:
Account Number                                      0
City Name                                           0
Country                                             0
City Short Name                                     0
C40                                               133
Reporting Year                                      0
Measurement Year                                    0
Boundary                                            0
Primary Methodology                                 0
Methodology Details                                54
Gases included                                      6
Total City-wide Emissions (metric tonnes CO2e)      0
Total Scope 1 Emissions (metric tonnes CO2e)       53
Total Scope 2 Emissions (metric tonnes CO2e)       55
Increase/Decrease from last year                   21
Reason for increase/decrease in emissions          43
Current Population Year                             0
Current Population                                  2
City GDP                                           57
GDP Currency                                       64
Year of GDP                                        50
GDP Source                                         57
Average annual temperature (in Celsius)​           10
​Land area (in square km)                           3
Average altitude (m)                               19
City Location                                       0
Country Location                                    0
dtype: int64

Cleaned Data:
   Account Number            City Name         Country City Short Name  C40  \
0           35894    Ville De Montreal          Canada        Montreal  NaN
1           35898   Greater Manchester  United Kingdom      Manchester  NaN
2           54128         City Of Reno             USA            Reno  NaN
3           35879  City Of Minneapolis             USA     Minneapolis  NaN
4           50558   City Of London, On          Canada      London, ON  NaN

   Reporting Year        Measurement Year  \
0            2016  12/31/2009 12:00:00 AM
1            2016  12/31/2013 12:00:00 AM
2            2016  12/31/2014 12:00:00 AM
3            2016  12/31/2014 12:00:00 AM
4            2016  12/31/2014 12:00:00 AM

                                            Boundary  \
0  Other: The regional entity that constitutes th...
1                                A metropolitan area
2      Administrative boundary of a local government
3      Administrative boundary of a local government
4      Administrative boundary of a local government

                                 Primary Methodology  \
0  2006 IPCC Guidelines for National Greenhouse G...
1  Global Protocol for Community-Scale Greenhouse...
2  Global Protocol for Community-Scale Greenhouse...
3  U.S. Community Protocol for Accounting and Rep...
4  International Emissions Analysis Protocol (ICLEI)

                                 Methodology Details  ...      City GDP  \
0  2006 IPCC Guidelines for National Greenhouse G...  ...  1.201180e+11
1  A GPC Compliant dataset has been established f...  ...  8.777300e+10
2  Also utilized the U.S. Community Protocol for ...  ...  1.000000e+10
3  A note regarding how double counting is avoide...  ...  2.357000e+11
4  as adapted by ICLEI Canada for use in the FCM'...  ...  1.540000e+10

              GDP Currency  Year of GDP  \
0  CAD     Canadian Dollar       2014.0
1                      NaN       2013.0
2        USD     US Dollar       2014.0
3        USD     US Dollar       2014.0
4  CAD     Canadian Dollar       2014.0

                                          GDP Source  \
0  Ville de Montréal, Montréal en statistiques, h...
1  UK ONS (using 1.56 USD/GBP) Figures provided i...
2                    Bureau of Economic Analysis10.4
3  http://www.bea.gov/iTable/iTable.cfm?reqid=70&...
4  Conference Board of Canada, London Census Metr...

  Average annual temperature (in Celsius)​ ​Land area (in square km)  \
0                                      6.8                     500.0
1                                      9.5                    1277.0
2                                     10.4                     288.0
3                                      7.9                     139.8
4                                      7.9                     421.0

   Average altitude (m)              City Location          Country Location  \
0                  17.0  (45.5086699, -73.5539925)  (56.130366, -106.346771)
1                 250.0   (53.4575955, -2.1578377)    (55.378051, -3.435973)
2                1373.0       (39.5296, -119.8138)    (37.09024, -95.712891)
3                 264.0     (44.983334, -93.26667)    (37.09024, -95.712891)
4                 251.0        (42.9837, -81.2497)  (56.130366, -106.346771)

  id
0  1
1  2
2  3
3  4
4  5

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 28 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int32
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
 27  id                                              187 non-null    int64
dtypes: float64(9), int32(1), int64(3), object(15)
memory usage: 40.3+ KB
None

Missing Values After Cleaning:
Account Number                                      0
City Name                                           0
Country                                             0
City Short Name                                     0
C40                                               133
Reporting Year                                      0
Measurement Year                                    0
Boundary                                            0
Primary Methodology                                 0
Methodology Details                                54
Gases included                                      6
Total City-wide Emissions (metric tonnes CO2e)      0
Total Scope 1 Emissions (metric tonnes CO2e)       53
Total Scope 2 Emissions (metric tonnes CO2e)       55
Increase/Decrease from last year                   21
Reason for increase/decrease in emissions          43
Current Population Year                             0
Current Population                                  2
City GDP                                           57
GDP Currency                                       64
Year of GDP                                        50
GDP Source                                         57
Average annual temperature (in Celsius)​           10
​Land area (in square km)                           3
Average altitude (m)                               19
City Location                                       0
Country Location                                    0
id                                                  0
dtype: int64

Step 4: Create a New Collection and Insert Data into MongoDB

In [13]:
# Define the new collection name
new_collection_name = 'citywide_ghg_emissions'
new_collection = db[new_collection_name]

# Function to insert city documents
def insert_citywide_ghg_documents(df, collection):
    for index, row in df.iterrows():
        city_document = {
            "city": row['City Name'],
            "country": row['Country'],
            "reporting_year": row['Reporting Year'],
            "total_ghg_emissions": row[emissions_column],
            "id": row['id']
        }
        collection.insert_one(city_document)

# Insert city documents into MongoDB
insert_citywide_ghg_documents(new_df, new_collection)

# Verify by retrieving one document
print("One document from MongoDB:")
print(new_collection.find_one())

# Query to see all inserted documents (sample)
for doc in new_collection.find().limit(5):
    print(doc)

One document from MongoDB:
{'_id': ObjectId('665c8f39b791c25edf693e23'), 'city': 'Ville De Montreal', 'country': 'Canada', 'reporting_year': 2016, 'total_ghg_emissions': 13722942.0, 'id': 1}
{'_id': ObjectId('665c8f39b791c25edf693e23'), 'city': 'Ville De Montreal', 'country': 'Canada', 'reporting_year': 2016, 'total_ghg_emissions': 13722942.0, 'id': 1}
{'_id': ObjectId('665c8f39b791c25edf693e24'), 'city': 'Greater Manchester', 'country': 'United Kingdom', 'reporting_year': 2016, 'total_ghg_emissions': 14889318.0, 'id': 2}
{'_id': ObjectId('665c8f39b791c25edf693e25'), 'city': 'City Of Reno', 'country': 'USA', 'reporting_year': 2016, 'total_ghg_emissions': 4437665.0, 'id': 3}
{'_id': ObjectId('665c8f39b791c25edf693e26'), 'city': 'City Of Minneapolis', 'country': 'USA', 'reporting_year': 2016, 'total_ghg_emissions': 4794708.0, 'id': 4}
{'_id': ObjectId('665c8f39b791c25edf693e27'), 'city': 'City Of London, On', 'country': 'Canada', 'reporting_year': 2016, 'total_ghg_emissions': 3070000.0, 'id': 5}

Explanation:

Load and Inspect CSV: Load the CSV file and inspect the column names to identify the correct names.

Handle Missing Values: Fill missing numeric and categorical values, convert date columns, and clean text fields.

Export Clean Data: Save the cleaned data to a new CSV file.

Create Collection and Insert Data: Define a new collection and insert the cleaned data into MongoDB.

Verify Data Insertion: Print some documents from the collection to verify the data insertion.

2017_-_Cities_Community_Wide_Emissions.csv

Step 1: Import Necessary Libraries

First, i need to import the necessary Python libraries:

Step 2: Connect to MongoDB

Set up a connection to your MongoDB database named EksamensProjekt_DB

In [14]:
# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")  # Replace with your actual connection string
db = client['EksamensProjekt_DB']

# Verify connection by listing databases
print(client.list_database_names())

['EksamensProjekt_DB', 'Mongo', 'OLA2_DB', 'admin', 'config', 'local', 'somesite']

Step 3: Load and Inspect New CSV Data

Load the new CSV data into a pandas DataFrame and inspect the column names to identify the correct name for the emissions column.

Explanation:
  Load CSV: Read the CSV file into a DataFrame using pd.read_cs
v   Display Initial Data: Print the first few rows and the structure of the DataFrame to understand its conte
n    Display Column Names: Print the column names to identify the correct name for the emissions column.

In [16]:
# Load the new CSV data into a DataFrame
new_file_path = '2017_-_Cities_Community_Wide_Emissions.csv'
new_df = pd.read_csv(new_file_path)

# Display the initial data structure
print("Initial Data:")
print(new_df.head())
print(new_df.info())

# Display the column names
print("Column Names:")
print(new_df.columns)

Initial Data:
   Account number                     Organization                 City  \
0           49363  Nelson Mandela Bay Municipality  Nelson Mandela Bay
1           31171           Ayuntamiento de Madrid               Madrid
2            3417                    New York City        New York City
3           59537               City of Denton, TX           Denton, TX
4           35894                Ville de Montreal             Montreal

        Country         Region  C40  Access  Reporting year  \
0  South Africa         Africa  NaN  Public            2017
1         Spain         Europe  C40  Public            2017
2           USA  North America  C40  Public            2017
3           USA  North America  NaN  Public            2017
4        Canada  North America  C40  Public            2017

           Accounting year                                       Boundary  \
0  2013-07-01 - 2014-06-30                            A metropolitan area
1  2014-01-01 - 2014-12-31  Administrative boundary of a local government
2  2015-01-01 - 2015-12-31  Administrative boundary of a local government
3  2015-01-01 - 2015-12-31  Administrative boundary of a local government
4  2013-01-01 - 2013-12-31                            A metropolitan area

   ... Population year           GDP                GDP Currency  GDP Year  \
0  ...            2011  5.214700e+04  ZAR     South African Rand    2010.0
1  ...            2016  1.293780e+11                EUR     Euro    2015.0
2  ...            2016  1.558520e+12           USD     US Dollar    2015.0
3  ...            2015           NaN                         NaN       NaN
4  ...            2013  1.154128e+08     CAD     Canadian Dollar    2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

   Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                      17.5                   69.0
1                                      15.0                  655.0
2                                      13.0                   10.0
3                                      18.2                  192.0
4                                       6.8                   17.0

  ​Land area (in square km)              City Location  \
0                    1950.0    (-33.745241, 25.568108)
1                     604.0   (40.1076253, -3.3875673)
2                     784.0  (40.7127837, -74.0059413)
3                     227.8    (33.214841, -97.133068)
4                     500.0  (45.5086699, -73.5539925)

           Country Location
0   (-30.559482, 22.937506)
1     (40.463667, -3.74922)
2    (37.09024, -95.712891)
3    (37.09024, -95.712891)
4  (56.130366, -106.346771)

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB
None
Column Names:
Index(['Account number', 'Organization', 'City', 'Country', 'Region', 'C40',
       'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol',
       'Protocol column', 'Gases included',
       'Total emissions (metric tonnes CO2e)', 'Scopes Included ',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Population',
       'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source',
       'Average annual temperature (in Celsius)​', '​Average altitude (m)',
       '​Land area (in square km)', 'City Location', 'Country Location'],
      dtype='object')

Step 4: Update the Data Cleaning Script

Once you have identified the correct column names, you can proceed with the data cleaning and insertion process.

Explanation:
  Handle Missing Values   Fill Numeric Columns: Fill missing values in numeric columns with the median value to avoid skewing the dat    Fill Categorical Columns: Fill missing values in categorical columns with placeholder values ('Unknown City', 'Unknown Countr
y
    Convert 'Reporting Year' to Datetime: Convert the 'Reporting year' column to datetime format and fill any remaining NaN values wi
t
    Standardize Formats: Standardize the format of the 'City' column to title case for consis
t.
    Remove Duplicates: Remove any duplicate rows to ensure each record is 
ue.
    Trim and Clean Strings: Trim any leading or trailing spaces from string
 es.
    Consolidate Categories: Replace similar categories (e.g., 'Usa' to 'USA') for con
sncy.
    Validate Data: Ensure all emissions values are non
-tive.
    Create Unique Identifiers: Generate a unique identifier for each row based on the combination of 'City' and 'Repor
tyear'.
    Export Cleaned Data: Save the cleaned DataFrame to a new CSV file for future use.

In [17]:
# Load the new CSV data into a DataFrame
new_file_path = '2017_-_Cities_Community_Wide_Emissions.csv'
new_df = pd.read_csv(new_file_path)

# Display the initial data structure
print("Initial Data:")
print(new_df.head())
print(new_df.info())

# Display the column names
print("Column Names:")
print(new_df.columns)

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(new_df.isna().sum())

# Fill numeric columns with median values
emissions_column = 'Total emissions (metric tonnes CO2e)'  # Correct column name
new_df[emissions_column] = new_df[emissions_column].fillna(new_df[emissions_column].median())

# Fill categorical columns with a placeholder value
new_df['City'] = new_df['City'].fillna('Unknown City')
new_df['Country'] = new_df['Country'].fillna('Unknown Country')

# Convert 'Reporting year' to datetime format and fill with a default value if they remain NaN
new_df['Reporting year'] = pd.to_datetime(new_df['Reporting year'], format='%Y', errors='coerce').dt.year
new_df['Reporting year'] = new_df['Reporting year'].fillna(0)

# Data Type Conversions
new_df['Reporting year'] = pd.to_datetime(new_df['Reporting year'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
new_df['City'] = new_df['City'].str.title()

# Removing Duplicates
new_df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
new_df['City'] = new_df['City'].str.strip()

# Consolidating Categories
new_df['Country'] = new_df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
new_df = new_df[new_df[emissions_column] >= 0]

# Creating Unique Identifiers
new_df['id'] = pd.factorize(new_df['City'] + new_df['Reporting year'].astype(str))[0] + 1

# Exporting Clean Data
cleaned_new_file_path = 'cleaned_data_2017_MongoDB_-_Cities_Community_Wide_Emissions.csv'
new_df.to_csv(cleaned_new_file_path, index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(new_df.head())
print(new_df.info())

print("\nMissing Values After Cleaning:")
print(new_df.isna().sum())

Initial Data:
   Account number                     Organization                 City  \
0           49363  Nelson Mandela Bay Municipality  Nelson Mandela Bay
1           31171           Ayuntamiento de Madrid               Madrid
2            3417                    New York City        New York City
3           59537               City of Denton, TX           Denton, TX
4           35894                Ville de Montreal             Montreal

        Country         Region  C40  Access  Reporting year  \
0  South Africa         Africa  NaN  Public            2017
1         Spain         Europe  C40  Public            2017
2           USA  North America  C40  Public            2017
3           USA  North America  NaN  Public            2017
4        Canada  North America  C40  Public            2017

           Accounting year                                       Boundary  \
0  2013-07-01 - 2014-06-30                            A metropolitan area
1  2014-01-01 - 2014-12-31  Administrative boundary of a local government
2  2015-01-01 - 2015-12-31  Administrative boundary of a local government
3  2015-01-01 - 2015-12-31  Administrative boundary of a local government
4  2013-01-01 - 2013-12-31                            A metropolitan area

   ... Population year           GDP                GDP Currency  GDP Year  \
0  ...            2011  5.214700e+04  ZAR     South African Rand    2010.0
1  ...            2016  1.293780e+11                EUR     Euro    2015.0
2  ...            2016  1.558520e+12           USD     US Dollar    2015.0
3  ...            2015           NaN                         NaN       NaN
4  ...            2013  1.154128e+08     CAD     Canadian Dollar    2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

   Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                      17.5                   69.0
1                                      15.0                  655.0
2                                      13.0                   10.0
3                                      18.2                  192.0
4                                       6.8                   17.0

  ​Land area (in square km)              City Location  \
0                    1950.0    (-33.745241, 25.568108)
1                     604.0   (40.1076253, -3.3875673)
2                     784.0  (40.7127837, -74.0059413)
3                     227.8    (33.214841, -97.133068)
4                     500.0  (45.5086699, -73.5539925)

           Country Location
0   (-30.559482, 22.937506)
1     (40.463667, -3.74922)
2    (37.09024, -95.712891)
3    (37.09024, -95.712891)
4  (56.130366, -106.346771)

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB
None
Column Names:
Index(['Account number', 'Organization', 'City', 'Country', 'Region', 'C40',
       'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol',
       'Protocol column', 'Gases included',
       'Total emissions (metric tonnes CO2e)', 'Scopes Included ',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Population',
       'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source',
       'Average annual temperature (in Celsius)​', '​Average altitude (m)',
       '​Land area (in square km)', 'City Location', 'Country Location'],
      dtype='object')

Missing Values Before Cleaning:
Account number                                    0
Organization                                      0
City                                              0
Country                                           0
Region                                            0
C40                                             173
Access                                            0
Reporting year                                    0
Accounting year                                   0
Boundary                                          0
Protocol                                          0
Protocol column                                  78
Gases included                                  118
Total emissions (metric tonnes CO2e)             12
Scopes Included                                   0
Total Scope 1 Emissions (metric tonnes CO2e)     56
Total Scope 2 Emissions (metric tonnes CO2e)     57
Comment                                         150
Increase/Decrease from last year                 20
Reason for increase/decrease in emissions        51
Population                                        0
Population year                                   0
GDP                                              48
GDP Currency                                     45
GDP Year                                         44
GDP Source                                       51
Average annual temperature (in Celsius)​          6
​Average altitude (m)                            22
​Land area (in square km)                         1
City Location                                     0
Country Location                                  0
dtype: int64

Cleaned Data:
   Account number                     Organization                City  \
0           49363  Nelson Mandela Bay Municipality  Nelson Mandela Bay
1           31171           Ayuntamiento de Madrid              Madrid
2            3417                    New York City       New York City
3           59537               City of Denton, TX          Denton, Tx
4           35894                Ville de Montreal            Montreal

        Country         Region  C40  Access  Reporting year  \
0  South Africa         Africa  NaN  Public            2017
1         Spain         Europe  C40  Public            2017
2           USA  North America  C40  Public            2017
3           USA  North America  NaN  Public            2017
4        Canada  North America  C40  Public            2017

           Accounting year                                       Boundary  \
0  2013-07-01 - 2014-06-30                            A metropolitan area
1  2014-01-01 - 2014-12-31  Administrative boundary of a local government
2  2015-01-01 - 2015-12-31  Administrative boundary of a local government
3  2015-01-01 - 2015-12-31  Administrative boundary of a local government
4  2013-01-01 - 2013-12-31                            A metropolitan area

   ...           GDP                GDP Currency GDP Year  \
0  ...  5.214700e+04  ZAR     South African Rand   2010.0
1  ...  1.293780e+11                EUR     Euro   2015.0
2  ...  1.558520e+12           USD     US Dollar   2015.0
3  ...           NaN                         NaN      NaN
4  ...  1.154128e+08     CAD     Canadian Dollar   2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

  Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                     17.5                   69.0
1                                     15.0                  655.0
2                                     13.0                   10.0
3                                     18.2                  192.0
4                                      6.8                   17.0

   ​Land area (in square km)              City Location  \
0                     1950.0    (-33.745241, 25.568108)
1                      604.0   (40.1076253, -3.3875673)
2                      784.0  (40.7127837, -74.0059413)
3                      227.8    (33.214841, -97.133068)
4                      500.0  (45.5086699, -73.5539925)

           Country Location id
0   (-30.559482, 22.937506)  1
1     (40.463667, -3.74922)  2
2    (37.09024, -95.712891)  3
3    (37.09024, -95.712891)  4
4  (56.130366, -106.346771)  5

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 32 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int32
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          229 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
 31  id                                            229 non-null    int64
dtypes: float64(8), int32(1), int64(4), object(19)
memory usage: 56.5+ KB
None

Missing Values After Cleaning:
Account number                                    0
Organization                                      0
City                                              0
Country                                           0
Region                                            0
C40                                             173
Access                                            0
Reporting year                                    0
Accounting year                                   0
Boundary                                          0
Protocol                                          0
Protocol column                                  78
Gases included                                  118
Total emissions (metric tonnes CO2e)              0
Scopes Included                                   0
Total Scope 1 Emissions (metric tonnes CO2e)     56
Total Scope 2 Emissions (metric tonnes CO2e)     57
Comment                                         150
Increase/Decrease from last year                 20
Reason for increase/decrease in emissions        51
Population                                        0
Population year                                   0
GDP                                              48
GDP Currency                                     45
GDP Year                                         44
GDP Source                                       51
Average annual temperature (in Celsius)​          6
​Average altitude (m)                            22
​Land area (in square km)                         1
City Location                                     0
Country Location                                  0
id                                                0
dtype: int64

Step 5: Create a New Collection and Insert Data into MongoDB

Explanation:
  Define New Collection Name: Specify the name of the new collection to store the dat
a   Function Definition: Define a function insert_community_wide_emissions_documents that takes a DataFrame and a collection as argumen
t    Iterate Over Rows: Loop through each row in the DataFr
a
    Create Document: For each row, create a dictionary (document) containing the relevant fi
e
    Insert Document: Use collection.insert_one to insert each document into the MongoDB colle
c.
    Verify Data Insertion: Print some documents from the collection to verify the data insertion.

In [18]:
# Define the new collection name
new_collection_name = 'community_wide_emissions_2017'
new_collection = db[new_collection_name]

# Function to insert city documents
def insert_community_wide_emissions_documents(df, collection):
    for index, row in df.iterrows():
        city_document = {
            "city": row['City'],
            "country": row['Country'],
            "reporting_year": row['Reporting year'],
            "total_emissions": row[emissions_column],
            "id": row['id']
        }
        collection.insert_one(city_document)

# Insert city documents into MongoDB
insert_community_wide_emissions_documents(new_df, new_collection)

# Verify by retrieving one document
print("One document from MongoDB:")
print(new_collection.find_one())

# Query to see all inserted documents (sample)
for doc in new_collection.find().limit(5):
    print(doc)

One document from MongoDB:
{'_id': ObjectId('665cd614b791c25edf693edf'), 'city': 'Nelson Mandela Bay', 'country': 'South Africa', 'reporting_year': 2017, 'total_emissions': 12232310.0, 'id': 1}
{'_id': ObjectId('665cd614b791c25edf693edf'), 'city': 'Nelson Mandela Bay', 'country': 'South Africa', 'reporting_year': 2017, 'total_emissions': 12232310.0, 'id': 1}
{'_id': ObjectId('665cd614b791c25edf693ee0'), 'city': 'Madrid', 'country': 'Spain', 'reporting_year': 2017, 'total_emissions': 9236196.0, 'id': 2}
{'_id': ObjectId('665cd614b791c25edf693ee1'), 'city': 'New York City', 'country': 'USA', 'reporting_year': 2017, 'total_emissions': 52042186.0, 'id': 3}
{'_id': ObjectId('665cd614b791c25edf693ee2'), 'city': 'Denton, Tx', 'country': 'USA', 'reporting_year': 2017, 'total_emissions': 1604007.0, 'id': 4}
{'_id': ObjectId('665cd614b791c25edf693ee3'), 'city': 'Montreal', 'country': 'Canada', 'reporting_year': 2017, 'total_emissions': 10197555.0, 'id': 5}

In [ ]:
2017_-_Cities_Emissions_Reduction_Targets_20240207.csv

Step 1: Import Necessary Libraries

In [ ]:
# Import necessary libraries
import pandas as pd
from pymongo import MongoClient

Step 2: Connect to MongoDB

In [ ]:
# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")  # Replace with your actual connection string
db = client['EksamensProjekt_DB']

# Verify connection by listing databases
print(client.list_database_names())

Step 3: Load and Inspect New CSV Data

Load the new CSV data into a pandas DataFrame and inspect the column names to identify the correct name for the emissions reduction targets.

Explanation:
  Load CSV: Read the CSV file into a DataFrame using pd.read_cs
v   Display Initial Data: Print the first few rows and the structure of the DataFrame to understand its conte
n    Display Column Names: Print the column names to identify the correct name for the emissions reduction targets.

In [19]:
# Load the new CSV data into a DataFrame
new_file_path = '2017_-_Cities_Emissions_Reduction_Targets_20240207.csv'
new_df = pd.read_csv(new_file_path)

# Display the initial data structure
print("Initial Data:")
print(new_df.head())
print(new_df.info())

# Display the column names
print("Column Names:")
print(new_df.columns)

Initial Data:
   Account No                   Organisation              City  \
0       54408                 Aarhus Kommune            Aarhus
1       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
2       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
3        1499        Ajuntament de Barcelona         Barcelona
4        1499        Ajuntament de Barcelona         Barcelona

              Country               Region  Access  C40  Reporting year  \
0             Denmark               Europe  Public  NaN            2017
1  State of Palestine  South and West Asia  Public  NaN            2017
2  State of Palestine  South and West Asia  Public  NaN            2017
3               Spain               Europe  Public  C40            2017
4               Spain               Europe  Public  C40            2017

    Type of target     Sector  ... Baseline emissions (metric tonnes CO2e)  \
0  Absolute target        NaN  ...                                     NaN
1  Absolute target  Buildings  ...                                 18320.0
2  Absolute target  Transport  ...                                  6893.0
3  Absolute target      Total  ...                                  4053.0
4  Absolute target  Buildings  ...                                  2164.0

   Percentage reduction target  Target date  \
0                        100.0         2030
1                         19.0         2020
2                          6.0         2020
3                         18.0         2020
4                          1.0         2020

  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ​Intensity unit (emissions per)                                 Comment  \
0                              NaN                                     NaN
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4                              NaN  Residential, Commercial and Industrial

  Population  Population Year           City Location       Country Location
0   336000.0           2017.0  (56.168393, 10.137373)   (56.26392, 9.501785)
1    30000.0           2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)
2    30000.0           2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)
3  1608746.0           2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)
4  1608746.0           2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 21 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          406 non-null    int64
 1   Organisation                                                                        406 non-null    object
 2   City                                                                                404 non-null    object
 3   Country                                                                             404 non-null    object
 4   Region                                                                              404 non-null    object
 5   Access                                                                              406 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      406 non-null    int64
 8   Type of target                                                                      406 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       372 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             274 non-null    float64
 12  Percentage reduction target                                                         332 non-null    float64
 13  Target date                                                                         350 non-null    object
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          404 non-null    float64
 18  Population Year                                                                     404 non-null    float64
 19  City Location                                                                       404 non-null    object
 20  Country Location                                                                    404 non-null    object
dtypes: float64(5), int64(2), object(14)
memory usage: 66.7+ KB
None
Column Names:
Index(['Account No', 'Organisation', 'City', 'Country', 'Region', 'Access',
       'C40', 'Reporting year', 'Type of target', 'Sector', 'Baseline year',
       'Baseline emissions (metric tonnes CO2e)',
       'Percentage reduction target', 'Target date',
       'Estimated business as usual absolute emissions in target year (metric tonnes CO2e)',
       '​Intensity unit (emissions per)', 'Comment', 'Population',
       'Population Year', 'City Location', 'Country Location'],
      dtype='object')

Step 4: Data Cleaning

Explanation:
  Handle Missing Values   Fill Numeric Columns: Fill missing values in numeric columns with the median value to avoid skewing the dat    Fill Categorical Columns: Fill missing values in categorical columns with placeholder values ('Unknown City', 'Unknown Countr
y
    Convert 'Reporting Year' and 'Target date' to Datetime: Convert these columns to datetime format and fill any remaining NaN values wit
    Standardize Formats: Standardize the format of the 'City' column to title case for consis
t.
    Remove Duplicates: Remove any duplicate rows to ensure each record is 
ue.
    Trim and Clean Strings: Trim any leading or trailing spaces from string
 es.
    Consolidate Categories: Replace similar categories (e.g., 'Usa' to 'USA') for con
sncy.
    Validate Data: Ensure all emissions reduction target values are non
-tive.
    Create Unique Identifiers: Generate a unique identifier for each row based on the combination of 'City' and 'Repor
tyear'.
    Export Cleaned Data: Save the cleaned DataFrame to a new CSV file for future use.

In [20]:
# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(new_df.isna().sum())

# Fill numeric columns with median values
emissions_column = 'Baseline emissions (metric tonnes CO2e)'  # Correct column name
reduction_column = 'Percentage reduction target'  # Correct column name
new_df[emissions_column] = new_df[emissions_column].fillna(new_df[emissions_column].median())
new_df[reduction_column] = new_df[reduction_column].fillna(new_df[reduction_column].median())

# Fill categorical columns with a placeholder value
new_df['City'] = new_df['City'].fillna('Unknown City')
new_df['Country'] = new_df['Country'].fillna('Unknown Country')

# Convert 'Reporting Year' and 'Target date' to datetime format and fill with a default value if they remain NaN
new_df['Reporting year'] = pd.to_datetime(new_df['Reporting year'], format='%Y', errors='coerce').dt.year
new_df['Target date'] = pd.to_datetime(new_df['Target date'], format='%Y', errors='coerce').dt.year

new_df['Reporting year'] = new_df['Reporting year'].fillna(0)
new_df['Target date'] = new_df['Target date'].fillna(0)

# Data Type Conversions
new_df['Reporting year'] = pd.to_datetime(new_df['Reporting year'], format='%Y', errors='coerce').dt.year
new_df['Target date'] = pd.to_datetime(new_df['Target date'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
new_df['City'] = new_df['City'].str.title()

# Removing Duplicates
new_df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
new_df['City'] = new_df['City'].str.strip()

# Consolidating Categories
new_df['Country'] = new_df['Country'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
new_df = new_df[new_df[reduction_column] >= 0]

# Creating Unique Identifiers
new_df['id'] = pd.factorize(new_df['City'] + new_df['Reporting year'].astype(str))[0] + 1

# Exporting Clean Data
cleaned_new_file_path = 'cleaned_data_2017_MongoDB_-_Cities_Emissions_Reduction_Targets_20240207.csv'
new_df.to_csv(cleaned_new_file_path, index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(new_df.head())
print(new_df.info())

print("\nMissing Values After Cleaning:")
print(new_df.isna().sum())

Missing Values Before Cleaning:
Account No                                                                              0
Organisation                                                                            0
City                                                                                    2
Country                                                                                 2
Region                                                                                  2
Access                                                                                  0
C40                                                                                   312
Reporting year                                                                          0
Type of target                                                                          0
Sector                                                                                108
Baseline year                                                                          34
Baseline emissions (metric tonnes CO2e)                                               132
Percentage reduction target                                                            74
Target date                                                                            56
Estimated business as usual absolute emissions in target year (metric tonnes CO2e)    375
​Intensity unit (emissions per)                                                       383
Comment                                                                               266
Population                                                                              2
Population Year                                                                         2
City Location                                                                           2
Country Location                                                                        2
dtype: int64

Cleaned Data:
   Account No                   Organisation              City  \
0       54408                 Aarhus Kommune            Aarhus
1       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
2       63616  Abasan Al-Kabira Municipality  Abasan Al-Kabira
3        1499        Ajuntament de Barcelona         Barcelona
4        1499        Ajuntament de Barcelona         Barcelona

              Country               Region  Access  C40  Reporting year  \
0             Denmark               Europe  Public  NaN            2017
1  State of Palestine  South and West Asia  Public  NaN            2017
2  State of Palestine  South and West Asia  Public  NaN            2017
3               Spain               Europe  Public  C40            2017
4               Spain               Europe  Public  C40            2017

    Type of target     Sector  ... Percentage reduction target  Target date  \
0  Absolute target        NaN  ...                       100.0       2030.0
1  Absolute target  Buildings  ...                        19.0       2020.0
2  Absolute target  Transport  ...                         6.0       2020.0
3  Absolute target      Total  ...                        18.0       2020.0
4  Absolute target  Buildings  ...                         1.0       2020.0

   Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ​Intensity unit (emissions per)                                 Comment  \
0                              NaN                                     NaN
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4                              NaN  Residential, Commercial and Industrial

  Population Population Year           City Location       Country Location id
0   336000.0          2017.0  (56.168393, 10.137373)   (56.26392, 9.501785)  1
1    30000.0          2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)  2
2    30000.0          2015.0  (31.323126, 34.344025)     (31.9522, 35.2332)  2
3  1608746.0          2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)  3
4  1608746.0          2016.0   (41.382271, 2.177506)  (40.463667, -3.74922)  3

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 403 entries, 0 to 405
Data columns (total 22 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          403 non-null    int64
 1   Organisation                                                                        403 non-null    object
 2   City                                                                                403 non-null    object
 3   Country                                                                             403 non-null    object
 4   Region                                                                              401 non-null    object
 5   Access                                                                              403 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      403 non-null    int32
 8   Type of target                                                                      403 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       371 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             403 non-null    float64
 12  Percentage reduction target                                                         403 non-null    float64
 13  Target date                                                                         338 non-null    float64
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          401 non-null    float64
 18  Population Year                                                                     401 non-null    float64
 19  City Location                                                                       401 non-null    object
 20  Country Location                                                                    401 non-null    object
 21  id                                                                                  403 non-null    int64
dtypes: float64(6), int32(1), int64(2), object(13)
memory usage: 70.8+ KB
None

Missing Values After Cleaning:
Account No                                                                              0
Organisation                                                                            0
City                                                                                    0
Country                                                                                 0
Region                                                                                  2
Access                                                                                  0
C40                                                                                   309
Reporting year                                                                          0
Type of target                                                                          0
Sector                                                                                105
Baseline year                                                                          32
Baseline emissions (metric tonnes CO2e)                                                 0
Percentage reduction target                                                             0
Target date                                                                            65
Estimated business as usual absolute emissions in target year (metric tonnes CO2e)    372
​Intensity unit (emissions per)                                                       380
Comment                                                                               263
Population                                                                              2
Population Year                                                                         2
City Location                                                                           2
Country Location                                                                        2
id                                                                                      0
dtype: int64

Step 5: Create a New Collection and Insert Data into MongoDB

Explanation:
  Define New Collection Name: Specify the name of the new collection to store the dat
a   Function Definition: Define a function insert_emissions_reduction_documents that takes a DataFrame and a collection as argumen
t    Iterate Over Rows: Loop through each row in the DataFr
a
    Create Document: For each row, create a dictionary (document) containing the relevant fi
e
    Insert Document: Use collection.insert_one to insert each document into the MongoDB colle
c.
    Verify Data Insertion: Print some documents from the collection to verify the data insertion.

In [21]:
# Define the new collection name
new_collection_name = 'emissions_reduction_targets_2017'
new_collection = db[new_collection_name]

# Function to insert city documents
def insert_emissions_reduction_documents(df, collection):
    for index, row in df.iterrows():
        city_document = {
            "city": row['City'],
            "country": row['Country'],
            "reporting_year": row['Reporting year'],
            "baseline_emissions": row[emissions_column],
            "percentage_reduction_target": row[reduction_column],
            "target_year": row['Target date'],
            "id": row['id']
        }
        collection.insert_one(city_document)

# Insert city documents into MongoDB
insert_emissions_reduction_documents(new_df, new_collection)

# Verify by retrieving one document
print("One document from MongoDB:")
print(new_collection.find_one())

# Query to see all inserted documents (sample)
for doc in new_collection.find().limit(5):
    print(doc)

One document from MongoDB:
{'_id': ObjectId('665cd801b791c25edf693fc4'), 'city': 'Aarhus', 'country': 'Denmark', 'reporting_year': 2017, 'baseline_emissions': 1484767.0, 'percentage_reduction_target': 100.0, 'target_year': 2030.0, 'id': 1}
{'_id': ObjectId('665cd801b791c25edf693fc4'), 'city': 'Aarhus', 'country': 'Denmark', 'reporting_year': 2017, 'baseline_emissions': 1484767.0, 'percentage_reduction_target': 100.0, 'target_year': 2030.0, 'id': 1}
{'_id': ObjectId('665cd801b791c25edf693fc5'), 'city': 'Abasan Al-Kabira', 'country': 'State of Palestine', 'reporting_year': 2017, 'baseline_emissions': 18320.0, 'percentage_reduction_target': 19.0, 'target_year': 2020.0, 'id': 2}
{'_id': ObjectId('665cd801b791c25edf693fc6'), 'city': 'Abasan Al-Kabira', 'country': 'State of Palestine', 'reporting_year': 2017, 'baseline_emissions': 6893.0, 'percentage_reduction_target': 6.0, 'target_year': 2020.0, 'id': 2}
{'_id': ObjectId('665cd801b791c25edf693fc7'), 'city': 'Barcelona', 'country': 'Spain', 'reporting_year': 2017, 'baseline_emissions': 4053.0, 'percentage_reduction_target': 18.0, 'target_year': 2020.0, 'id': 3}
{'_id': ObjectId('665cd801b791c25edf693fc8'), 'city': 'Barcelona', 'country': 'Spain', 'reporting_year': 2017, 'baseline_emissions': 2164.0, 'percentage_reduction_target': 1.0, 'target_year': 2020.0, 'id': 3}

2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv

Step 1: Import Necessary Libraries

Explanation:
  pandas: A powerful library for data manipulation and analysis. We'll use it to load and clean the CSV dat
a   pymongo: A library to interact with MongoDB from Python. We'll use it to connect to our MongoDB instance and perform database operations.

In [4]:
# Import necessary libraries
import pandas as pd
from pymongo import MongoClient

Step 2: Connect to MongoDB

Explanation:

MongoClient: This class is used to create a connection to a MongoDB server. The connection string mongodb://localhost:27017/ specifies that the server is running locally on port 27017.

db: Selects the EksamensProjekt_DB database. MongoDB will create this database when we first store data in it.

In [5]:
# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")  # Replace with your actual connection string
db = client['EksamensProjekt_DB']

# Verify connection by listing databases
print(client.list_database_names())

['EksamensProjekt_DB', 'Mongo', 'OLA2_DB', 'admin', 'config', 'local', 'somesite']

Step 3: Load and Inspect New CSV Data

Load the new CSV data into a pandas DataFrame and inspect the column names to identify the correct name for the climate risk and vulnerability assessments.

Explanation:
  Load CSV: Read the CSV file into a DataFrame using pd.read_cs
v   Display Initial Data: Print the first few rows and the structure of the DataFrame to understand its conte
n    Display Column Names: Print the column names to identify the correct name for the climate risk and vulnerability assessments.

In [6]:
# Load the new CSV data into a DataFrame
new_file_path = '2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv'
new_df = pd.read_csv(new_file_path)

# Display the initial data structure
print("Initial Data:")
print(new_df.head())
print(new_df.info())

# Display the column names
print("Column Names:")
print(new_df.columns)

Initial Data:
  Questionnaire  Organization Number                Organization Name  \
0   Cities 2023               840926      Prefeitura de Serra Talhada
1   Cities 2023                51075                 City of Shenzhen
2   Cities 2023               863190                            Renca
3   Cities 2023               930366  Municipalidad Distrital de Yura
4   Cities 2023                60236          Trelleborg Municipality

         City Country/Area     CDP Region  C40 City  GCoM City  Access  \
0         NaN       Brazil  Latin America     False       True  public
1    Shenzhen        China      East Asia      True      False  public
2         NaN        Chile  Latin America     False      False  public
3         NaN         Peru  Latin America     False       True  public
4  Trelleborg       Sweden         Europe     False       True  public

            Assessment attachment and/or direct link  \
0  https://drive.google.com/file/d/19DMxxK532IQSL...
1                                                NaN
2                          PLCC_Renca (08 Abril).pdf
3  https://sigrid.cenepred.gob.pe/sigridv3/docume...
4  https://moten.trelleborg.se/welcome-sv/namnder...

                    Confirm attachment/link provided  \
0  The assessment can be accessed (unrestricted) ...
1  The assessment can be accessed (unrestricted) ...
2                   The assessment has been attached
3  The assessment can be accessed (unrestricted) ...
4  The assessment can be accessed (unrestricted) ...

  Boundary of assessment relative to jurisdiction boundary  \
0  Same - covers entire jurisdiction and nothing ...
1  Same - covers entire jurisdiction and nothing ...
2  Same - covers entire jurisdiction and nothing ...
3  Same - covers entire jurisdiction and nothing ...
4  Same - covers entire jurisdiction and nothing ...

   Year of publication or approval  \
0                           2022.0
1                           2022.0
2                           2019.0
3                           2022.0
4                           2018.0

                    Factors considered in assessment  \
0  Assessment considers vulnerable populations; A...
1  Assessment considers nature; Assessment consid...
2  A process has been established for prioritizin...
3  Identified hazards have been incorporated into...
4  A process has been established for prioritizin...

                     Primary author(s) of assessment  \
0  Dedicated team within jurisdiction; Relevant d...
1  Consultant; Dedicated team within jurisdiction...
2                            Question not applicable
3                 Dedicated team within jurisdiction
4                 Dedicated team within jurisdiction

  Does the city have adaptation goal(s) and/or an adaptation plan?  \
0             Adaptation goal(s) and adaptation plan
1                                    Adaptation plan
2             Adaptation goal(s) and adaptation plan
3                                  Incomplete report
4             Adaptation goal(s) and adaptation plan

   Population  Population Year            City Location  \
0       92228           2023.0                      NaN
1    17662000           2022.0  POINT (113.813 22.9175)
2      162517           2022.0                      NaN
3       33346           2017.0                      NaN
4       46649           2022.0  POINT (13.1569 55.3751)

              Last update
0  02/07/2024 04:14:16 AM
1  02/07/2024 04:14:16 AM
2  02/07/2024 04:14:16 AM
3  02/07/2024 04:14:16 AM
4  02/07/2024 04:14:16 AM
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 20 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Questionnaire                                                     1370 non-null   object
 1   Organization Number                                               1370 non-null   int64
 2   Organization Name                                                 1370 non-null   object
 3   City                                                              931 non-null    object
 4   Country/Area                                                      1370 non-null   object
 5   CDP Region                                                        1370 non-null   object
 6   C40 City                                                          1370 non-null   bool
 7   GCoM City                                                         1370 non-null   bool
 8   Access                                                            1370 non-null   object
 9   Assessment attachment and/or direct link                          1333 non-null   object
 10  Confirm attachment/link provided                                  1370 non-null   object
 11  Boundary of assessment relative to jurisdiction boundary          1358 non-null   object
 12  Year of publication or approval                                   1344 non-null   float64
 13  Factors considered in assessment                                  1319 non-null   object
 14  Primary author(s) of assessment                                   1320 non-null   object
 15  Does the city have adaptation goal(s) and/or an adaptation plan?  1370 non-null   object
 16  Population                                                        1370 non-null   int64
 17  Population Year                                                   1362 non-null   float64
 18  City Location                                                     800 non-null    object
 19  Last update                                                       1370 non-null   object
dtypes: bool(2), float64(2), int64(2), object(14)
memory usage: 195.5+ KB
None
Column Names:
Index(['Questionnaire', 'Organization Number', 'Organization Name', 'City',
       'Country/Area', 'CDP Region', 'C40 City', 'GCoM City', 'Access',
       'Assessment attachment and/or direct link',
       'Confirm attachment/link provided',
       'Boundary of assessment relative to jurisdiction boundary',
       'Year of publication or approval', 'Factors considered in assessment',
       'Primary author(s) of assessment',
       'Does the city have adaptation goal(s) and/or an adaptation plan?',
       'Population', 'Population Year', 'City Location', 'Last update'],
      dtype='object')

Step 4: Data Cleaning 

Explanation:
  Handle Missing Values   Fill Numeric Columns: Fill missing values in numeric columns with the median value to avoid skewing the dat    Fill Categorical Columns: Fill missing values in categorical columns with placeholder values ('Unknown City', 'Unknown Countr
y
    Convert 'Year of publication or approval' to Datetime: Convert this column to datetime format and fill any remaining NaN values wit
    Standardize Formats: Standardize the format of the 'City' column to title case for consis
t.
    Remove Duplicates: Remove any duplicate rows to ensure each record is 
ue.
    Trim and Clean Strings: Trim any leading or trailing spaces from string
 es.
    Consolidate Categories: Replace similar categories (e.g., 'Usa' to 'USA') for con
sncy.
    Validate Data: Ensure all numeric values are non
-tive.
    Create Unique Identifiers: Generate a unique identifier for each row based on the combination of 'City' and 'Year of publication or
 oval'.
    Export Cleaned Data: Save the cleaned DataFrame to a new CSV file for future use.

In [7]:
import pandas as pd
import numpy as np


# Load your dataset
new_df = pd.read_csv('2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv')  # Replace with the actual file path

# Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(new_df.isna().sum())

# Fill numeric columns with median values
numeric_columns = ['Population', 'Population Year', 'Year of publication or approval']  # Replace with the actual column names if different
for column in numeric_columns:
    new_df[column] = new_df[column].fillna(new_df[column].median())

# Fill categorical columns with a placeholder value
new_df['City'] = new_df['City'].fillna('Unknown City')
new_df['Country/Area'] = new_df['Country/Area'].fillna('Unknown Country')

# Convert 'Year of publication or approval' to datetime format and fill with a default value if they remain NaN
new_df['Year of publication or approval'] = pd.to_datetime(new_df['Year of publication or approval'], format='%Y', errors='coerce').dt.year
new_df['Year of publication or approval'] = new_df['Year of publication or approval'].fillna(0)

# Data Type Conversions
new_df['Year of publication or approval'] = pd.to_datetime(new_df['Year of publication or approval'], format='%Y', errors='coerce').dt.year

# Standardizing Formats
new_df['City'] = new_df['City'].str.title()

# Removing Duplicates
new_df.drop_duplicates(inplace=True)

# Trimming and Cleaning Strings
new_df['City'] = new_df['City'].str.strip()

# Consolidating Categories
new_df['Country/Area'] = new_df['Country/Area'].replace({'Usa': 'USA', 'Uk': 'United Kingdom'})

# Validating Data
for column in numeric_columns:
    new_df = new_df[new_df[column] >= 0]

# Handling Missing URLs and Location Data
new_df['Assessment attachment and/or direct link'] = new_df['Assessment attachment and/or direct link'].fillna('No Link Provided')
new_df['City Location'] = new_df['City Location'].fillna('No Location Data')

# Handling Missing Text Data
text_columns = ['Factors considered in assessment', 'Primary author(s) of assessment']
for column in text_columns:
    new_df[column] = new_df[column].fillna('Information not available')

# Creating Unique Identifiers
new_df['id'] = pd.factorize(new_df['City'] + new_df['Year of publication or approval'].astype(str))[0] + 1

# Exporting Clean Data
cleaned_new_file_path = 'cleaned_data_2023_MongoDB_Cities_Climate_Risk_and_Vulnerability_Assessments.csv'
new_df.to_csv(cleaned_new_file_path, index=False)

# Display the cleaned data structure and info
print("\nCleaned Data:")
print(new_df.head())
print(new_df.info())

print("\nMissing Values After Cleaning:")
print(new_df.isna().sum())

Missing Values Before Cleaning:
Questionnaire                                                         0
Organization Number                                                   0
Organization Name                                                     0
City                                                                439
Country/Area                                                          0
CDP Region                                                            0
C40 City                                                              0
GCoM City                                                             0
Access                                                                0
Assessment attachment and/or direct link                             37
Confirm attachment/link provided                                      0
Boundary of assessment relative to jurisdiction boundary             12
Year of publication or approval                                      26
Factors considered in assessment                                     51
Primary author(s) of assessment                                      50
Does the city have adaptation goal(s) and/or an adaptation plan?      0
Population                                                            0
Population Year                                                       8
City Location                                                       570
Last update                                                           0
dtype: int64

Cleaned Data:
  Questionnaire  Organization Number                Organization Name  \
0   Cities 2023               840926      Prefeitura de Serra Talhada
1   Cities 2023                51075                 City of Shenzhen
2   Cities 2023               863190                            Renca
3   Cities 2023               930366  Municipalidad Distrital de Yura
4   Cities 2023                60236          Trelleborg Municipality

           City Country/Area     CDP Region  C40 City  GCoM City  Access  \
0  Unknown City       Brazil  Latin America     False       True  public
1      Shenzhen        China      East Asia      True      False  public
2  Unknown City        Chile  Latin America     False      False  public
3  Unknown City         Peru  Latin America     False       True  public
4    Trelleborg       Sweden         Europe     False       True  public

            Assessment attachment and/or direct link  ...  \
0  https://drive.google.com/file/d/19DMxxK532IQSL...  ...
1                                   No Link Provided  ...
2                          PLCC_Renca (08 Abril).pdf  ...
3  https://sigrid.cenepred.gob.pe/sigridv3/docume...  ...
4  https://moten.trelleborg.se/welcome-sv/namnder...  ...

  Boundary of assessment relative to jurisdiction boundary  \
0  Same - covers entire jurisdiction and nothing ...
1  Same - covers entire jurisdiction and nothing ...
2  Same - covers entire jurisdiction and nothing ...
3  Same - covers entire jurisdiction and nothing ...
4  Same - covers entire jurisdiction and nothing ...

  Year of publication or approval  \
0                            2022
1                            2022
2                            2019
3                            2022
4                            2018

                    Factors considered in assessment  \
0  Assessment considers vulnerable populations; A...
1  Assessment considers nature; Assessment consid...
2  A process has been established for prioritizin...
3  Identified hazards have been incorporated into...
4  A process has been established for prioritizin...

                     Primary author(s) of assessment  \
0  Dedicated team within jurisdiction; Relevant d...
1  Consultant; Dedicated team within jurisdiction...
2                            Question not applicable
3                 Dedicated team within jurisdiction
4                 Dedicated team within jurisdiction

  Does the city have adaptation goal(s) and/or an adaptation plan? Population  \
0             Adaptation goal(s) and adaptation plan                    92228
1                                    Adaptation plan                 17662000
2             Adaptation goal(s) and adaptation plan                   162517
3                                  Incomplete report                    33346
4             Adaptation goal(s) and adaptation plan                    46649

   Population Year            City Location             Last update id
0           2023.0         No Location Data  02/07/2024 04:14:16 AM  1
1           2022.0  POINT (113.813 22.9175)  02/07/2024 04:14:16 AM  2
2           2022.0         No Location Data  02/07/2024 04:14:16 AM  3
3           2017.0         No Location Data  02/07/2024 04:14:16 AM  1
4           2022.0  POINT (13.1569 55.3751)  02/07/2024 04:14:16 AM  4

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Questionnaire                                                     1370 non-null   object
 1   Organization Number                                               1370 non-null   int64
 2   Organization Name                                                 1370 non-null   object
 3   City                                                              1370 non-null   object
 4   Country/Area                                                      1370 non-null   object
 5   CDP Region                                                        1370 non-null   object
 6   C40 City                                                          1370 non-null   bool
 7   GCoM City                                                         1370 non-null   bool
 8   Access                                                            1370 non-null   object
 9   Assessment attachment and/or direct link                          1370 non-null   object
 10  Confirm attachment/link provided                                  1370 non-null   object
 11  Boundary of assessment relative to jurisdiction boundary          1358 non-null   object
 12  Year of publication or approval                                   1370 non-null   int32
 13  Factors considered in assessment                                  1370 non-null   object
 14  Primary author(s) of assessment                                   1370 non-null   object
 15  Does the city have adaptation goal(s) and/or an adaptation plan?  1370 non-null   object
 16  Population                                                        1370 non-null   int64
 17  Population Year                                                   1370 non-null   float64
 18  City Location                                                     1370 non-null   object
 19  Last update                                                       1370 non-null   object
 20  id                                                                1370 non-null   int64
dtypes: bool(2), float64(1), int32(1), int64(3), object(14)
memory usage: 200.8+ KB
None

Missing Values After Cleaning:
Questionnaire                                                        0
Organization Number                                                  0
Organization Name                                                    0
City                                                                 0
Country/Area                                                         0
CDP Region                                                           0
C40 City                                                             0
GCoM City                                                            0
Access                                                               0
Assessment attachment and/or direct link                             0
Confirm attachment/link provided                                     0
Boundary of assessment relative to jurisdiction boundary            12
Year of publication or approval                                      0
Factors considered in assessment                                     0
Primary author(s) of assessment                                      0
Does the city have adaptation goal(s) and/or an adaptation plan?     0
Population                                                           0
Population Year                                                      0
City Location                                                        0
Last update                                                          0
id                                                                   0
dtype: int64

Step 5: Create a New Collection and Insert Data into MongoDB

Create a New Collection and Insert Data into MongoDB:
  Define New Collection Name: Specify the name of the new collection to store the dat
a   Function Definition: Define a function insert_climate_risk_documents that takes a DataFrame and a collection as argument    Iterate Over Rows: Loop through each row in the DataFr
a
    Create Document: For each row, create a dictionary (document) containing the relevant fi
e
    Insert Document: Use collection.insert_one to insert each document into the MongoDB collection.

In [8]:
# Define the new collection name
new_collection_name = 'climate_risk_assessments_2023'
new_collection = db[new_collection_name]

# Function to insert city documents
def insert_climate_risk_documents(df, collection):
    for index, row in df.iterrows():
        city_document = {
            "city": row['City'],
            "country": row['Country/Area'],
            "assessment_year": row['Year of publication or approval'],
            "population": row['Population'],
            "population_year": row['Population Year'],
            "city_location": row['City Location'],
            "id": row['id']
        }
        collection.insert_one(city_document)

# Insert city documents into MongoDB
insert_climate_risk_documents(new_df, new_collection)

# Verify by retrieving one document
print("One document from MongoDB:")
print(new_collection.find_one())

# Query to see all inserted documents (sample)
for doc in new_collection.find().limit(5):
    print(doc)

One document from MongoDB:
{'_id': ObjectId('665cdaa9b791c25edf694158'), 'city': 'Unknown City', 'country': 'Brazil', 'assessment_year': 2022, 'population': 92228, 'population_year': 2023.0, 'city_location': nan, 'id': 1}
{'_id': ObjectId('665cdaa9b791c25edf694158'), 'city': 'Unknown City', 'country': 'Brazil', 'assessment_year': 2022, 'population': 92228, 'population_year': 2023.0, 'city_location': nan, 'id': 1}
{'_id': ObjectId('665cdaa9b791c25edf694159'), 'city': 'Shenzhen', 'country': 'China', 'assessment_year': 2022, 'population': 17662000, 'population_year': 2022.0, 'city_location': 'POINT (113.813 22.9175)', 'id': 2}
{'_id': ObjectId('665cdaa9b791c25edf69415a'), 'city': 'Unknown City', 'country': 'Chile', 'assessment_year': 2019, 'population': 162517, 'population_year': 2022.0, 'city_location': nan, 'id': 3}
{'_id': ObjectId('665cdaa9b791c25edf69415b'), 'city': 'Unknown City', 'country': 'Peru', 'assessment_year': 2022, 'population': 33346, 'population_year': 2017.0, 'city_location': nan, 'id': 1}
{'_id': ObjectId('665cdaa9b791c25edf69415c'), 'city': 'Trelleborg', 'country': 'Sweden', 'assessment_year': 2018, 'population': 46649, 'population_year': 2022.0, 'city_location': 'POINT (13.1569 55.3751)', 'id': 4}

In [9]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['EksamensProjekt_DB']
collection = db['climate_risk_assessments_2023']

# Verify data
documents = collection.find().limit(5)  # Limit to 5 documents for display
for doc in documents:
    print(doc)

{'_id': ObjectId('665cdaa9b791c25edf694158'), 'city': 'Unknown City', 'country': 'Brazil', 'assessment_year': 2022, 'population': 92228, 'population_year': 2023.0, 'city_location': nan, 'id': 1}
{'_id': ObjectId('665cdaa9b791c25edf694159'), 'city': 'Shenzhen', 'country': 'China', 'assessment_year': 2022, 'population': 17662000, 'population_year': 2022.0, 'city_location': 'POINT (113.813 22.9175)', 'id': 2}
{'_id': ObjectId('665cdaa9b791c25edf69415a'), 'city': 'Unknown City', 'country': 'Chile', 'assessment_year': 2019, 'population': 162517, 'population_year': 2022.0, 'city_location': nan, 'id': 3}
{'_id': ObjectId('665cdaa9b791c25edf69415b'), 'city': 'Unknown City', 'country': 'Peru', 'assessment_year': 2022, 'population': 33346, 'population_year': 2017.0, 'city_location': nan, 'id': 1}
{'_id': ObjectId('665cdaa9b791c25edf69415c'), 'city': 'Trelleborg', 'country': 'Sweden', 'assessment_year': 2018, 'population': 46649, 'population_year': 2022.0, 'city_location': 'POINT (13.1569 55.3751)', 'id': 4}

In [10]:
!pip install flask

Requirement already satisfied: flask in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (3.0.2)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from flask) (3.0.1)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from flask) (3.1.3)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from flask) (2.1.2)
Requirement already satisfied: click>=8.1.3 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from flask) (1.7.0)
Requirement already satisfied: colorama in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jeffo\appdata\local\programs\python\python312\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.4)